@import url(reset.css);
@import url('../../../../../cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/*
font-family: 'NanumSquare', sans-serif
font-weight : 300, 400, 700, 800
*/

/*layout*/
section {
    width: 77%;
    height: 100%;
}

/*common,typography*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
span,
div,
button {
    font-family: 'NanumSquare', sans-serif;
    font-weight: 400;
}

.container {
    padding: 0 8%;
    width: 100%;
    box-sizing: border-box;
}

.title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 27px;
    color: #9ce1ab;
}

.sub_title {
    font-size: 20px;
    color: #9ce1ab;
}
.contact input.btn, .btn {
    display:inline-block;
    border: none;
    background: #9ce1ab;
    border-radius: 30px;
    color: #fff;
    font-size: 27px;
    font-weight: 700;
    line-height:60px; text-align:center;
    width: 362px;
    height: 60px;
    position: relative;
    overflow:hidden;
    z-index:1;
}
.btn:before{
    content:'';
    position: absolute;
    left:-100%; right:-100%; top:0; bottom:0;
    background:#9ce1ab;
    width: 362px;
    height: 60px;
    transition:0.5s;
    z-index:-1;
}
.btn:hover:before{
    left:0; right:0;
}

/*header*/
h1 a {
    display: block;
    text-indent: -9999em;
    width: 90px;
    height: 100px;
    position: fixed;
    left: 4%;
    top: 34px;
    z-index: 1;
}
.sub_logo a{
    position: absolute;
    background: url(../img/dark_logo.png) no-repeat;
}
.logo a {
    background: url(../img/logo.png) no-repeat;
}

.dark_logo a {
    background: url(../img/dark_logo.png) no-repeat;
}
.hamburger_button{
    display:none;
}
.nav {
    padding: 34px 40px;
    position: fixed;
    right: 0;
    top: 0;
    width: 23%;
    height: 100%;
    background-color: #9ce1ab;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    z-index: 2;
}

.nav >h2 {
    text-align: right;
    font-size: 27px;
    color: #fff;
}

.nav >h2 span {
    margin-top: 5px;
    display: block;
    font-size: 14px;
}

.nav_menu {
    margin-left: 36px;
    align-self: flex-start;
}

.nav_menu li {
    margin-bottom: 54px;
    position: relative;
}

.nav_menu li:last-child {
    margin-bottom: 0;
}

.nav_menu li.on:before {
    content: '<';
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
}

.nav_menu li.on:after {
    content: '>';
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

.nav_menu li a {
    font-size: 34px;
    font-weight: 700;
    color: #fff;
}

.nav p {
    text-transform: uppercase;
    color: #fff;
}

/*mainhome*/
.mainhome {
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.mainhome>div {
    position: absolute;
    left: 8%;
    top: 50%;
    transform: translateY(-50%);
}

.mainhome h3 {
    padding-right: 10px;
    color: #fff;
    font-size: 53px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid #9ce1ab;
    animation: typing 3.5s steps(40, end),
        cursor .5s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes cursor {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: #9ce1ab;
    }

    100% {
        border-color: transparent;
    }
}

.mainhome span {
    color: #9ce1ab;
    font-weight: 700;
}

.mainhome h4 {
    margin-top: 5px;
    color: #9ce1ab;
    font-size: 27px;
    letter-spacing: 0.2em;
}

/*about*/
.about_info {
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
	text-align:center;
}
.about_info>img{margin-bottom: 30px;}

.profile{margin-top:70px;}

.profile h2 {
    color: #9ce1ab;
    font-size: 27px;
}

.profile h2 span {
    font-size: 24px;
}

.profile>span {
    margin: 8px 0 28px 25px;
    display: block;
    color: #707070;
    font-size: 17px;
    font-weight: 400;
}

.profile p {
    margin-bottom: 8px;
    font-size: 20px;
    color: #261d1d;
}

.profile p>span {
    color: #9ce1ab;
}

.profile h3 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #9ce1ab;
}

.about_skill {

    padding: 25px 0 60px;
    background-image: url(../img/skill_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 70%;
    width: 100%;
}

.skills {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}





.skill_bar{
	width:33.33%;
    float: left;
    left: 0px;
    top: 0px;
    position: relative;
    width: 224px;
    margin: 0 auto;
    margin-bottom: :30px;
    
}
.skill_bar h2{
	text-align:center;
    margin:20px;
    color:#333;
    font-weight: bold;
    text-transform: uppercase;
    border:3px solid #9ce1ab;
    border-radius: 10px;


}
.skill_bar .bar{
	position: relative;
	width: 160px;
	height: 160px;
	margin:0 auto;
	text-align:center;
	font-size:25px;
	line-height: 160px;

}
.skill_bar canvas{
	position: absolute;
	top:0;
	left:0;

}
.rate {
    position: absolute;
    top: -25px;
    right: 0;
    color: #9ce1ab;
    font-weight: 700;
    font-size: 20px;
}

/*expertise*/
.about_expertise {
    margin-top: 25px;
}

.expertise {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expertise>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
}

.expertise>div.on {
    opacity: 0;
    transition: 0.35s;
    animation: up 1s 1s forwards ease-in-out;
}

@keyframes up {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.expertise>div img {
    margin-right: 10px;
}

.expertise>div h5 {
    font-size: 20px;
    font-weight: 700;
    color: #261d1d;
}

.expertise>div p {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    color: #707070;
}

/*works*/
.works {
    padding-top: 160px;
}

.work_anchor {
    display: flex;
    justify-content: center;
}

.work_anchor li{
    margin-right: 70px;
    cursor: pointer;
    color: #261d1d;
    font-size: 20px;
    font-weight: 700;
}

.work_anchor li:last-child {
    margin-right: 0;
}

.work_anchor li.on {
    color: #9ce1ab;
}

.work_anchor li.on:before {
    content: '<';
    font-size: 18px;
    margin-right: 10px;
}

.work_anchor li.on:after {
    content: '>';
    font-size: 18px;
    margin-left: 10px;
}
.work_panel {
    margin-top: 225px;
    padding-bottom:40px;
    background: url(../img/work_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 61%;
    display: flex;
    justify-content: center;
}

.work_panel>div {
    margin: -148px 30px 0 0;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
    height: 100%;
}

.work_panel>div a {
    display: block;
    border: 3px solid #9ce1ab;
    position: relative;
    overflow:hidden;
    z-index:2;
}

.work_panel>div a:before{
    content:'> 더보기';
    position: absolute;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    background: rgba(0, 0, 0, .6);
    color: #9ce1ab;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 503px;
    transition:0.35s;
    z-index:1;
}

.work_panel>div a:hover:before{
    top:0; bottom:0;
}

.work_panel>div h5 {
    padding: 20px 0 0 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background: #9ce1ab;
    width: 304px;
    height: 105px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index:3;
}
.pagination{
	margin-top:20px;
	text-align:center;
}
.pagination a{
	margin-right: 10px;
    cursor: pointer;
    color: #261d1d;
    font-size: 20px;
    font-weight: 700;
}
.pagination a.jp-current{
	color:#9ce1ab;
}
/*contact*/
.contact {
    padding-top: 160px;
}

.form {
	padding-bottom:30px;
    width: 513px;
    margin: 0 auto;
}
.form p {
    margin-bottom: 20px;
    text-align:right;
    font-size: 17px;
    color: #261d1d;
}
.form_content {
    width: 100%;
    display: flex;
	flex-direction: column;
}
.form_content >div{
	margin-bottom: 35px;
	display: flex;
	justify-content: space-between;
}
.form .textarea {
    align-items: flex-start;
}

.contact label {
    color: #261d1d;
    font-weight: 700;
    font-size: 27px;
}

.contact input {
    padding-left: 20px;
    border: 2.5px solid #9ce1ab;
    border-radius: 25px;
    width: 362px;
    height: 40px;
    box-sizing: border-box;
}

.contact textarea {
    padding: 20px;
    border: 2.5px solid #9ce1ab;
    border-radius: 25px;
    width: 362px;
    height: 330px;
    box-sizing: border-box;
}

.contact input.btn {
	padding:0;
    align-self: flex-end;
}

/*sub page */
.nav .profile h2, .nav .profile p, .nav .profile span{
    color:#fff;
}
.header_content a.site.btn[href='']{
    display:none;
}
.header_content a.view.btn[href='']{
    display:none;
}
.sub_main {
    padding-top: 270px;
    background-image: url(../img/sub_main_bg.jpg);
    background-repeat: no-repeat;
}
.sub_main .title.main{
    font-size:42px;
}
.sub_main .sub_title.main{
    font-size:31px;
}
.sub_main .title {
    margin-bottom: 0;
}
.header_content >div{
    margin-bottom:20px;
}
.header_content h5{
    margin-bottom:10px;
    font-size:20px; 
    font-weight:700;
    color:#261d1d;
}
.header_skill_content{
	display:flex;
}
.header_skill_ps.photoshop, .header_skill_ai.illustration, .header_skill_in.indesign, .header_skill_html.html, .header_skill_css.css, .header_skill_js.jquery{
	margin-right:10px;
	width:55px; height:64px;
}
.header_skill_ps.photoshop{
	background:url(../img/ps.png) no-repeat;
}
.header_skill_ai.illustration{
	background:url(../img/ai.png) no-repeat;
}
.header_skill_in.indesign{
	background:url(../img/in.png) no-repeat;
}
.header_skill_html.html{
	background:url(../img/html.png) no-repeat;
}
.header_skill_css.css{
	background:url(../img/css.png) no-repeat;
}
.header_skill_js.jquery{
	background:url(../img/js.png) no-repeat;
}
.header_tag{
    font-size:18px;
    color:#9ce1ab;
    font-weight:700;
}
.portfolio_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.portfolio_header>img {
    margin-left: -100px;
    animation: slide 2s 0.3s forwards ease-in-out;
    opacity: 0;
    transition:0.35s;
}

@keyframes slide {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.header_info {
    margin-top: -118px;
    background: #9ce1ab;
    width: 100%;
    padding: 161px 0 71px;
	white-space:wrap;
}

.header_info li {
    margin-bottom: 10px;
    color: #e3e3eb;
    font-size: 20px;
    font-weight: 400;
    line-height:25px;
}

.header_info li:last-child {
    margin-bottom: 0;
}

.header_info li span {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.portfolio_content img {
    width: 100%;
    height: auto;
}

.portfolio_proposal {
    margin-top: 30px;
}

.portfolio_proposal .sub_title,
.portfolio_proposal .title {
    padding: 0 8%;
}

.ppt {
    padding-bottom:30px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #fff 0%, #fff 40%, #9ce1ab 40%, #9ce1ab 100%);
}
.ppt img {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
    opacity: 0;
}
.ppt.on img{
    animation: pptslide 2s 0.2s forwards ease-in-out;
    opacity: 0;
    transition:0.35s;
}
@keyframes pptslide {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.ppt div{
    margin-top:60px;
}
.ppt p {
    margin-bottom: 20px;
    text-align:right;
    font-size: 17px;
    color: #261d1d;
}
/*반응형*/
@media screen and (max-width:480px){
	.sub_logo a {
		background: url(../img/m_dark_logo.png) no-repeat;
		width:66px; height:72px;
	}
    .nav{
        position: absolute;
        left:0; top:-200%;
        width:75%; height:100vh;
        background-color:#9ce1ab;
        transition:0.5s;
    }
    .nav.on{
        top:0;
    }
    .nav p{
        margin-right:-20px;
        white-space:nowrap;
    }
    .mainhome{
        width:100%;
    }
    .mainhome h3 {
        font-size:30px;
    }
    .mainhome h4{
        font-size:18px;
    }
    .hamburger_button{
        display:block;
        position: relative;
        left:80%; top:50px;
        transition:.3s ease-in-out;
        width:45px; height:34px;
    }
    .hamburger_button span{
        position: absolute;
        top:0;
        width:100%; height:8px;
        background-color:#9ce1ab;
        border-radius: 4px;
        transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    }
    .hamburger_button span:nth-child(1){
        top:0;
    }
    .hamburger_button span:nth-child(2),
    .hamburger_button span:nth-child(3){
        top:13px;
    }
    .hamburger_button span:nth-child(4){
        top:26px;
    }
    .hamburger_button.on span:nth-child(1),
    .hamburger_button.on span:nth-child(4){
        opacity:0;
    }
    .hamburger_button.on span:nth-child(2) {
        transform: rotate(45deg);
    }
    
    .hamburger_button.on span:nth-child(3) {
        transform: rotate(-45deg);
    }
    section{
        width:100%;
    }
    .about_info{
        padding-top:30px;
        display:block;
    }
    .profile{
        margin-top:20px;
    }
	.profile>span{
		margin: 8px 0 28px;
	}
    .profile h3{
        margin-bottom:30px;
        font-size:17px;
    }
    .skills{
        justify-content: center;
    }
    .ps, .ai, .html, .css{
        margin-right:0;
    }
    .skills >div{
        margin-bottom:20px;
    }
    .expertise{
        flex-direction: column;
    }
    .expertise > div{
        margin-bottom:50px;
        width:100%;
        justify-content: flex-start;
    }
    .expertise > div img{
        margin-right:20px;
    }
    .works{
        padding-top:30px;
    }
	.work_anchor{
		text-align: center;
		flex-direction: column;
	}
    .work_anchor li{
        margin:0 0 10px;
        font-size:20px;
    }
	 .work_anchor li:last-child{
        margin:0;
    }
    .work_panel{
        margin-top:30px;
        flex-direction: column;
    }
    .work_panel > div{
        margin:20px auto;
        width:82%;
    }
    .work_panel>div h5 {
        width:100%;
    }
    .mix img{
        width:100%;
    }
    form{
        width:80%;
        margin:0 auto;
    }
    .form{
        width:100%;
    }
    .form p{
        margin-left:0;
    }
    .contact label{
        font-size:20px;
        
    }
    .contact input{
        width:250px;
        
    }
    .contact textarea{
        width:250px;
    }
    .contact input.btn{
        width:250px;
    }
	/*subpage*/
	.sub_main{
		padding-top: 50px;
		text-align:center;
	}
	.sub_main .sub_title.main{
		font-size: 20px;
	}
	.sub_main .title.main {
		font-size: 30px;
	}
	.portfolio_header{
		flex-direction:column;
		padding-bottom: 50px;
	}
	.portfolio_header>img{
	    margin-left: 0;
		width: 100%;
		height: auto;
	}
	.header_info{
		margin-top:0;
		padding:30px 0;
	}
	.header_skill_content{
		justify-content: center;
	}
	.header_tag, .header_info li{
		font-size:17px;
	}
	.contact input.btn, .btn{
		width:290px; height:48px;
		line-height: 48px;
		font-size: 20px;
	}
	.btn:before{
		width:290px; height:48px;
		line-height: 48px;
	}
	.ppt{
		justify-content: center;
		flex-wrap: wrap;
	}
	.ppt.on img {
		width:100%; height:auto;
	}
	.ppt p{
		text-align:center;
	}
	.ppt .btn{
		background: #fff;
		color:#9ce1ab;
	}
	.ppt .btn:before{
		color:#fff;
	}
}