@charset "utf-8";




@media screen and (min-width:761px) and (max-width:1100px){


nav .n_cover{
	display:block;
}	


.ibox_cover article .rotate_cover{
	transform:scale(0.9);
}	

.imgbox .ibox_cover{
	/* max-width:1200px; */
}

.imgs{
	width:100%;
	height:230px;
	background-color:#fff;
	
}


.imgs h1{
	padding-top:25px;
	width:60px;
}

.imgs h1 img{
	display:block;
	width:100%;
}

.imgs h2{
	display:block;
	margin-top:5px;
	line-height:70px;
	font-size:38px;
	text-align:center;
	letter-spacing:-3px;
	/* border:1px solid #fff; */
}



.imgs h3{
	font-size:18px;

	
}

.imgs h3 a{
	line-height:25px;

	
}



.imgbox{
	width:100%;
	/* min-width:1250px; */
	height:360px;
	background-color:#fff;
	padding:20px 0;
	
}



.imgbox .ibox_cover{
	width:95%;
	height:100%;
	margin:0 auto;
	/* border:1px solid; */
	min-width:700px;
	max-width:1200px;
	overflow:hidden;

	
}
.imgbox .ibox_cover .ibox{
	width:100%;
	height:100%;
	/* display:block; */
	max-width:1200px;
}


.imgbox .ibox_cover .ibox > article{
	float:left;
	width:31%;
	height:380px;
	/* min-width:250px; */
	/* border:1px solid; */
	box-sizing:border-box;
	background:no-repeat center /contain;
	transform:rotate(0deg);
	/* background-color:#456ed2; */
	margin-left:1.75%;
	margin-top:20px;
	
}

.ibox_cover article:nth-child(1) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:180px;
	width:125px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}

.ibox_cover article:nth-child(2) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:230px;
	width:83px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}

.ibox_cover article:nth-child(3) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:170px;
	width:127px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}




.ibox_cover .ibox:nth-child(2) article:nth-child(1) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:200px;
	width:83px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}




.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:230px;
	width:59px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}

.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul:nth-child(2) li{
	position:absolute;
	/* height:400px; */
	padding-bottom:170px;
	padding-top:70px;
	width:59px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}


.ibox_cover .ibox:nth-child(2) article:nth-child(3) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:170px;
	width:125px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}







.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:190px;
	width:142px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}

.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul .pan{
	padding-bottom:170px;
	padding-top:40px;
	width:122px;
}




.ibox_cover .ibox:nth-child(3) article:nth-child(2) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:190px;
	/* padding-top:30px; */
	width:124px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}




.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:230px;
	width:59px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}

.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul:nth-child(2) li{
	position:absolute;
	/* height:400px; */
	padding-bottom:170px;
	padding-top:70px;
	width:59px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}































.two_bg{
	width:100%;
	height:550px;
	border:1px solid #fff;
	box-sizing:border-box;
	background:no-repeat center /cover;
	background-image:url(../images/bg222.jpg);
	background-size:auto 100%;
	background-position:bottom center;
}



.two_bg .two_cover h2{
	display:block;
	color:#fff;
	/* border:1px solid; */
	font-size:45px;
	text-align:center;
	line-height:60px;
	padding-top:45px;
}

.two_bg .two_cover h3{
	display:block;
	color:#fff;
	/* border:1px solid; */
	font-size:20px;
	text-align:center;
	line-height:40px;
	letter-spacing:-2px;
}


.three_bg{
	width:100%;
	height:670px;
	border:1px solid #fff;
	box-sizing:border-box;
	background:no-repeat center /cover;
	background-image:url(../images/bg3331.jpg);
	background-size:auto 100%;
	background-position:bottom center;
	float:left;
}

.three_bg .three_cover{
	width:90%;
	margin:0 auto;
	height:100%;
	/* border:1px solid red; */
	box-sizing:border-box;

	perspective:200%;
}

.three_bg .three_cover h2{
	font-size:45px;
	margin-top:10px;
}

.three_bg .three_cover h3{
	font-size:20px;
}









section{
	width:100%;
	height:auto;
}


section .sec_cover{
	margin:0 auto;
	width:100%;
	height:1600px;
}

section .sec_cover .art{
	float:left;
	width:49%;
	height:500px;
	margin-left:0.66%;
	margin-top:10px;
	/* border:1px solid red; */
	box-sizing:border-box;
	
	
}

.sec_cover .art.box1 .tbox1 h2{
	/* position:absolute; */
	/* float:left; */
	/* border:1px solid; */
	margin-left:50%;
	width:156px;
	transform:translateX(-50%);
}

.sec_cover .art.box1 .tbox1 h3{
	font-size:17px;
}



.sec_cover .art.box1 .tbox1 .tlink > ul{
	width:205px;
	float:left;
	/* border:1px solid blue; */
	margin-left:50%;
	transform:translateX(-50%);
	
}

.sec_cover .art.box1 .tbox1 .tlink > ul > li{
	float:left;
	/* border:1px solid; */
	text-align:center;
	margin:15px 10px;
	font-weight:400;
	color:#0066cc;
	line-height:18px;
	font-size:18px;
	
}












.sec_cover .art.box2 .tbox2 h2{
	margin-left:50%;
	width:40px;
	transform:translateX(-50%);

}

.sec_cover .art.box2 .tbox2 h2 img{
	display:block;
	width:100%;
	/* padding:2px 0; */

}

.sec_cover .art.box2 .tbox2 h3{
	/* float:left; */
	width:100%;
	/* border:1px solid; */
	text-align:center;
	font-size:30px;
	color:#fff;
	font-weight:550;
	letter-spacing:-2px;
	
	
}



section .sec_cover .art.box3{
	background:no-repeat center /cover;
	background-image:url(../images/box3bg1.jpg);
	background-size:auto 100%;
	background-position:bottom center;
}


.sec_cover .art.box3 .tbox3 h2{
	margin-left:50%;
	width:156px;
	transform:translateX(-50%);
	text-align:center;
	font-size:32px;
}



.sec_cover .art.box3 .tbox3 h3{
	width:100%;
	text-align:center;
	color:#444;
	font-size:16px;
	
	
}

.sec_cover .art.box3 .tbox3 h3 > a{
	color:#555;
	font-weight:550;
	display:block;
}

.sec_cover .art.box3 .tbox3 .tlink > ul{
	/* border:1px solid; */
	width:205px;
}



.sec_cover .art.box3 .tbox3 .tlink > ul > li{
	float:left;
	/* border:1px solid; */
	text-align:center;
	margin:17px 10px;
	font-weight:400;
	color:#0066cc;
	line-height:18px;
	font-size:18px;
	
}

.art.box3 .tbox3 .tlink ul li > a{
	padding:0 1px;
	color:#0066cc;
	font-size:15px;
	font-weight:600;
	line-height:17px;	
	/* display:block; */
}


section .sec_cover .art.box4{
	background:no-repeat center /cover;
	background-image:url(../images/box4bg1.jpg);
	background-size:auto 100%;
	background-position:bottom center;
}

.sec_cover .art.box4 .tbox4 h2{
	float:left;
	margin-left:50%;
	width:100%;
	transform:translateX(-50%);
	margin-top:35px;
	text-align:center;
	font-size:32px;
	padding:5px 0;
}



.sec_cover .art.box4 .tbox4 h3{
	width:100%;
	/* border:1px solid; */
	text-align:center;
	color:#444;
	font-weight:550;
	font-size:16px;
	/* line-height:20px; */
	
	
}

.sec_cover .art.box4 .tbox4 h3 > a{
	color:#555;
	font-weight:550;
	display:block;
}

.sec_cover .art.box4 .tbox4 .tlink{
	width:100%;
	float:left;
	/* border:1px solid; */
}

.sec_cover .art.box4 .tbox4 .tlink > ul{
	width:205px;
	float:left;
	/* border:1px solid blue; */
	margin-left:50%;
	transform:translateX(-50%);
	
}

.sec_cover .art.box4 .tbox4 .tlink > ul > li{
	float:left;
	/* border:1px solid; */
	text-align:center;
	margin:15px 10px;
	font-weight:400;
	color:#0066cc;
	line-height:18px;
	font-size:18px;
	
}

.art.box4 .tbox4 .tlink ul li > a{
	padding:0 1px;
	color:#0066cc;
	font-size:15px;
	font-weight:600;
	line-height:17px;	
	/* display:block; */
}



section .sec_cover .art.box5{
	background:no-repeat center /cover;
	background-image:url(../images/box5bg.jpg);
	background-size:auto 65%;
	background-position:bottom center;
	background-color:#000;
}

.sec_cover .art.box5 .tbox5{
	position:relative;
	width:100%;
	height:100%;
	/* border:1px solid green; */
}

.sec_cover .art.box5 .tbox5 > a{
	position:absolute;
	width:100%;
	height:100%;
}



.sec_cover .art.box5 .tbox5 h2{
	float:left;
	/* border:1px solid; */
	margin-left:50%;
	width:100%;
	color:#fff;
	transform:translateX(-50%);
	/* padding:0 100px; */
	margin-top:40px;
	text-align:center;
	font-size:32px;
	letter-spacing:1px;
}



.sec_cover .art.box5 .tbox5 h3{
	/* float:left; */
	width:100%;
	/* border:1px solid; */
	text-align:center;
	color:#fff;
	font-weight:400;
	font-size:17px;
	
	
}

.sec_cover .art.box5 .tbox5 h3 > a{
	color:#555;
	font-weight:550;
	display:block;
}

.sec_cover .art.box5 .tbox5 .tlink{
	width:100%;
	float:left;
	/* border:1px solid; */
}

.sec_cover .art.box5 .tbox5 .tlink > ul{
	width:205px;
	float:left;
	/* border:1px solid blue; */
	margin-left:50%;
	transform:translateX(-50%);
	
}

.sec_cover .art.box5 .tbox5 .tlink > ul > li{
	float:left;
	/* border:1px solid; */
	text-align:center;
	margin:15px 10px;
	font-weight:400;
	color:#2997ff;
	line-height:18px;
	font-size:18px;
	
}

.art.box5 .tbox5 .tlink ul li > a{
	padding:0 1px;
	color:#2997ff;
	font-size:15px;
	font-weight:600;
	line-height:17px;	
	/* display:block; */
}







section .sec_cover .art.box6{
	background:no-repeat center /cover;
	background-image:url(../images/box6bg1.jpg);
	/* background-size:auto 100%; */
	/* background-position:bottom center; */
	position:relative;
}



.sec_cover .art.box6 .tbox6 > a{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}



.sec_cover .art.box6 .tbox6 h2{
	margin-left:50%;
	width:122px;
	transform:translateX(-50%);
	/* padding:0 100px; */
	margin-top:35px;
}

.sec_cover .art.box6 .tbox6 h2 img{
	display:block;
	width:100%;
	padding:5px 0;

}

.sec_cover .art.box6 .tbox6 h3{
	/* float:left; */
	width:100%;
	/* border:1px solid; */
	text-align:center;
	color:#fff;
	font-weight:500;
	font-size:17px;
	
	
}


.sec_cover .art.box6 .tbox6 .tlink{
	width:100%;
	float:left;
	/* border:1px solid; */
}

.sec_cover .art.box6 .tbox6 .tlink > ul{
	width:240px;
	float:left;
	/* border:1px solid blue; */
	margin-left:50%;
	transform:translateX(-50%);
	
}

.sec_cover .art.box6 .tbox6 .tlink > ul > li{
	float:left;
	/* border:1px solid; */
	text-align:center;
	margin:15px 10px;
	font-weight:550;
	color:#fff;
	line-height:25px;
	font-size:18px;
	
}

.art.box6 .tbox6 .tlink ul li > a{
	padding:0 1px;
	color:#fff;
	font-size:15px;
	font-weight:550;
	line-height:17px;	
	/* display:block; */
}


footer .f_cover .fox h4 > span{
	
	display:none;

	
}






















}










@media screen and (min-width:100px) and (max-width:767px){
	
footer{
	width:100%;
	height:auto;
	float:left;
	background-color:#eee;
}

footer .f_cover{
	width:95%;
	max-width:980px;
	margin:0 auto;
	/* border:1px solid; */
	/* padding:5px 0; */
}


footer .f_cover .fox{
	float:left;
	width:100%;
	/* border:1px solid blue; */
	box-sizing:border-box;
	/* border-bottom:1px solid #555; */
	
}

footer .f_cover .fox h4{
	font-size:11px;
	line-height:40px;
	color:#333;
	width:100%;
	/* position:absolute; */
	/* width:20%; */
	/* display:block; */
	position:relative;
	box-sizing:border-box;
	border-bottom:1px solid #ccc;
}

footer .f_cover .fox h4 span{
	right:0;
	top:0;
	display:block;
	line-height:40px;
	padding:0 5px;
	font-size:16px;
	font-weight:500;
	transition:all 0.3s;
	cursor:pointer;
	position:absolute;
	color:#555;
}

footer .f_cover .fox span.on{
	transform:rotate(45deg);
}




footer .f_cover .fox ul{
	float:left;
	width:100%;
	padding:10px 0;
	/* border:1px solid yellow; */
	box-sizing:border-box;
	display:none;
}


footer .f_cover .fox ul >li{
	font-size:11.5px;
	height:30px;
	line-height:30px;
	word-break:keep-all;
	padding:0 20px;
	/* margin-top:-10%; */
	overflow:hidden;
}

footer .f_cover .fox ul >li > a{
	color:#555;
	font-weight:450;
	margin-top:-5%;
	display:block;
}



footer .f_cover .fox ul >li:hover a{
	text-decoration:underline;
}	



.last_footer{
	width:100%;
	height:auto;
	/* float:left; */
	
}

.last_foot .last_cover{
	width:95%;
	height:90px;
	max-width:980px;
	/* float:left; */
	background-color:#eee;
	margin:0 auto;
	/* padding-bottom:20px; */
	padding:0 15px;
}

.last_foot .last_cover .foo_top{
	width:100%;
	font-size:11px;
	font-weight:550;
	color:#888;
	border-bottom:0;
	padding:15px 0;
	/* line-height:35px; */
	word-break:keep-all;
	
}

.last_foot .last_cover .foo_top a{
	color:#0066cc;
}
.last_foot .last_cover .foo_top a:hover{
	text-decoration:underline;
}


.last_foot .last_cover .foo_bottom{
	width:100%;
	float:left;
}

.last_foot .last_cover .foo_bottom div{
	font-size:11px;
	line-height:15px;
	/* border:1px solid; */
	box-sizing:border-box;
	padding:5px 0;
	padding-bottom:10px;
}


.last_foot .last_cover .foo_bottom .lang{
	float:left;
	width:100%;
	
}

.last_foot .last_cover .foo_bottom .lang a span{
	float:left;
	width:16px;
	height:16px;
	display:block;
	background:url(../images/iconkr.png)no-repeat center/ cover;
	margin-top:2px;
	margin-right:3px;
	
}

.last_foot .last_cover .foo_bottom .lang a{
	/* display:block; */
	color:#333;
	/* height:18px; */
	font-size:10.5px;
	line-height:20px;
	/* padding:2px 0; */
}

.last_foot .last_cover .foo_bottom .lang a:hover{
	border-bottom:1px solid;
}


.last_foot .last_cover .foo_bottom .copy,
.last_foot .last_cover .foo_bottom .rull{
	float:left;
	width:100%;
	padding:3px 0;
}

.last_foot .last_cover .foo_bottom .rull{
	margin-left:0px;
	
}

.last_foot .last_cover .foo_bottom .rull a{
	padding:0 10px;
	float:left;
	font-weight:550;
	color:#777;
	display:block;
	border-left:1px solid #ccc;
}

.last_foot .last_cover .foo_bottom .rull a:first-child{
	border-left:0;
	padding-left:0;
}


.last_foot .last_cover .foo_bottom .copy{
	font-size:11px;
	font-weight:580;
	color:#aaa;
}




.last_foot .last_cover .foo_bottom p{
	float:left;
	font-size:11px;
	padding:1px 0;
	letter-spacing:-0.5px;
	color:#aaa;
}














	
	
}






























@media screen and (min-width:320px) and (max-width:760px){
	
	
nav .n_cover{
	display:none;
}	
	

	
nav .bn_cover{

	display:block;
	/* height:48px; */
}

	
nav .search{
	display:none;
}
	
	
.imgs{
	width:100%;
	height:200px;
	background-color:#fff;
	
}

.imgs .img_cover{
	width:90%;
	margin:0 auto;
	/* padding-top:30px; */
	height:100%;
	/* border:1px solid; */
	position:relative;
}



.imgs h1{
	/* float:left; */
	display:block;
	width:50px;
	padding-top:30px;
	margin-left:50%;
	transform:translateX(-50%);
	text-align:center;
}

.imgs h1 img{
	display:block;
	width:100%;
}



.imgs h2{
	display:block;
	margin-top:0px;
	line-height:50px;
	font-size:28px;
	text-align:center;
	letter-spacing:-1px;
	/* border:1px solid #fff; */
}

.imgs h3{
	display:block;
	margin-top:0px;
	/* line-height:40px; */
	font-size:17px;
	text-align:center;
	/* border:1px solid #fff; */
	color:#0066cc;
	
}

.imgs h3 a{
	color:#0066cc;
	/* display:block; */
	/* float:left; */
	/* width:auto; */
	line-height:32px;
	letter-spacing:-0.5px;
	/* border:1px solid #fff; */
	/* margin-left:50%; */
	/* transform:translateX(-50%); */
	
}

.imgs h3 a:hover{
	/* display:block; */
	color:#0066cc;
	letter-spacing:0 10px;
	/* text-decoration:underline; */
}

	
	
	
	
	
.two_bg{
	width:100%;
	height:500px;
	/* border:1px solid #fff; */
	/* box-sizing:border-box; */
	float:left;
	background-color:#000;
}
.two_bg .two_cover{
	width:100%;
	/* max-width:2000px; */
	margin:0 auto;
	height:100%;
	/* border:1px solid #fff; */
	box-sizing:border-box;
	background:no-repeat center /cover;
	background-image:url(../images/bgg222.jpg);
	background-size:auto 110%;
	background-position:bottom center;

}

.two_bg .two_cover h2{
	display:block;
	color:#fff;
	/* border:1px solid; */
	font-size:32px;
	text-align:center;
	line-height:35px;
	padding-top:40px;
}

.two_bg .two_cover h3{
	display:block;
	color:#fff;
	/* border:1px solid; */
	font-size:16px;
	text-align:center;
	line-height:40px;
	letter-spacing:-1px;
	word-break:keep-all;
}
	
	


.two_bg .two_cover p{
	display:block;
	color:#777;
	/* border:1px solid; */
	font-size:13px;
	font-weight:bold;
	text-align:center;
	line-height:30px;
	/* letter-spacing:-3px; */
}

.two_bg .two_cover .two_link{
	display:block;
	width:60%;
	height:30px;
	text-align:center;
	/* border:1px solid blue; */
	box-sizing:border-box;
	position:relative;
	left:50%;
	transform:translateX(-50%);
	
}

.two_bg .two_cover .two_link .link_cover{
	width:100%;
	height:30px;
	max-width:230px;
	/* display:block; */
	float:left;
	/* margin:0 auto; */
	/* border:1px solid #fff; */
	box-sizing:border-box;
	position:absolute;
	left:50%;
	transform:translate(-50%);
	color:#2997ff;
}

.two_bg .two_cover .two_link li{
	float:left;
	position:absolute;
	/* border:1px solid red; */
	padding:0 2px;
	text-align:center;
	font-size:17px;
	font-weight:bold;
	line-height:22px;
}

.two_bg .two_cover .two_link li:nth-child(1){
	left:0;
}

.two_bg .two_cover .two_link li:nth-child(2){
	right:0;
}



.two_bg .two_cover .two_link li a{
	float:left;
	display:block;
	height:22px;
	/* width:90%; */
	text-align:center;
	padding:0px;
	font-size:17px;
	line-height:22px;
	/* border:1px solid blue; */
	box-sizing:border-box;
	font-weight:bold;
	color:#2997ff;
	/* margin:0 3px; */

	

	
}	
	
.imgbox .ibox_cover .ibox > article{
	width:100%;
	/* min-width:300px; */
	display:none;
	border:none;
}
	
.imgbox .ibox_cover .ibox > article .rotate_cover{
	border:none;	
}
	
	
.imgbox .ibox_cover  article:nth-child(1){
	display:block;
	width:100%;
	transform:scale(0.9);
}	
	
.imgbox{
	width:100%;
	max-width:2000px;
	height:100%;
	background-color:#fff;
}

.imgbox .ibox_cover{
	width:90%;
	height:350px;
	margin:0 auto;
	/* border:1px solid; */
	min-width:300px;
	max-width:1200px;

	
}
.imgbox .ibox_cover .ibox{
	width:100%;
	height:100%;
	display:none;
	max-width:1200px;
	
}



.ibox_cover article:nth-child(1) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:180px;
	width:125px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}

.ibox_cover article:nth-child(2) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:230px;
	width:83px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}

.ibox_cover article:nth-child(3) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:170px;
	width:127px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}




.ibox_cover .ibox:nth-child(2) article:nth-child(1) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:200px;
	width:83px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}




.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:230px;
	width:59px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}

.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul:nth-child(2) li{
	position:absolute;
	/* height:400px; */
	padding-bottom:170px;
	padding-top:70px;
	width:59px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}


.ibox_cover .ibox:nth-child(2) article:nth-child(3) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:170px;
	width:125px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}







.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:190px;
	padding-top:20px;
	width:122px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}

.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul .pan{
	padding-bottom:170px;
	padding-top:40px;
	width:122px;
}




.ibox_cover .ibox:nth-child(3) article:nth-child(2) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:190px;
	/* padding-top:30px; */
	width:124px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}




.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:230px;
	width:59px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}

.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul:nth-child(2) li{
	position:absolute;
	/* height:400px; */
	padding-bottom:170px;
	padding-top:70px;
	width:59px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}










	
	
	
.three_bg{
	width:100%;
	height:500px;
	border:1px solid #fff;
	box-sizing:border-box;
	background:no-repeat center /cover;
	background-image:url(../images/bg33.jpg);
	background-size:auto 100%;
	background-position:bottom center;
	float:left;
}

.three_bg .three_cover{
	width:90%;
	margin:0 auto;
	height:100%;
	/* border:1px solid red; */
	box-sizing:border-box;

	perspective:200%;
}

.three_bg .three_cover > h2{
	display:block;
	color:#333;
	/* border:1px solid blue; */
	font-size:35px;
	text-align:center;
	line-height:50px;
	padding-top:50px;
}

.three_bg .three_cover h3{
	display:block;
	color:#333;
	/* border:1px solid; */
	font-size:17px;
	text-align:center;
	line-height:35px;
	letter-spacing:0px;
}

.three_bg .three_cover p{
	display:block;
	color:#777;
	/* border:1px solid; */
	font-size:13px;
	font-weight:none;
	text-align:center;
	line-height:30px;
	letter-spacing:0px;
}

.three_bg .three_cover .three_link{
	display:block;
	width:100%;
	height:40px;
	float:left;
	text-align:center;
	/* border:1px solid blue; */
	position:relative;
	
}

.three_bg .three_cover .three_link .link_cover{
	width:100%;
	height:30px;
	max-width:230px;
	/* display:block; */
	float:left;
	/* margin:0 auto; */
	/* border:1px solid #fff; */
	box-sizing:border-box;
	position:absolute;
	left:50%;
	transform:translate(-50%);
	color:#2997ff;
}

.three_bg .three_cover .three_link .link_cover li{
	float:left;
	position:absolute;
	/* border:1px solid red; */
	padding:0 2px;
	text-align:center;
	font-size:17px;
	font-weight:bold;
	line-height:40px;
}


.three_bg .three_cover .three_link .link_cover li:nth-child(1){
	left:0;
}

.three_bg .three_cover .three_link .link_cover li:nth-child(2){
	right:0;
}

.three_bg .three_cover .three_link .link_cover li a{
	float:left;
	/* display:block; */
	text-align:center;
	/* padding:0 15px; */
	font-size:18px;
	line-height:20px;
	/* border:1px solid blue; */
	font-weight:bold;
	color:#2997ff;
	margin:0 5px;
	padding-top:20px;
	

	
}




.three_bg .three_cover .three_link a:hover{
	border-bottom:2px solid #;
	/* text-decoration:underline; */
}	
	
section{
	width:100%;
	height:auto;
}


section .sec_cover{
	margin:0 auto;
	width:100%;
	height:1600px;
}

section .sec_cover .art{
	float:left;
	width:99%;
	height:500px;
	margin-left:0.5%;
	margin-top:10px;
	/* border:1px solid red; */
	box-sizing:border-box;
	
	
}	
	
	
.sec_cover .art.box1 .tbox1 h2{
	/* position:absolute; */
	/* float:left; */
	/* border:1px solid; */
	margin-left:50%;
	width:156px;
	transform:translateX(-50%);
	padding:0 100px;
	margin-top:30px;
}

.sec_cover .art.box1 .tbox1 h3{
	font-size:16px;
}	
	
	

	
.sec_cover .art.box2 .tbox2 h2{
	margin-left:50%;
	width:40px;
	transform:translateX(-50%);
	padding:5px 100px;
	margin-top:15px;
}

.sec_cover .art.box2 .tbox2 h2 img{
	display:block;
	width:100%;
	/* padding:2px 0; */

}

.sec_cover .art.box2 .tbox2 h3{
	/* float:left; */
	width:100%;
	/* border:1px solid; */
	text-align:center;
	font-size:28px;
	color:#fff;
	font-weight:550;
	letter-spacing:-2px;
	
	
}	
	
	
	
section .sec_cover .art.box3{
	background:no-repeat center /cover;
	background-image:url(../images/box3bg2.jpg);
	background-size:auto 105%;
	background-position:bottom center;
}
	



.sec_cover .art.box3 .tbox3 h2{
	margin-left:50%;
	width:156px;
	transform:translateX(-50%);
	padding:0 100px;
	margin-top:40px;
	text-align:center;
	font-size:32px;
}



.sec_cover .art.box3 .tbox3 h3{
	width:100%;
	text-align:center;
	color:#444;
	font-size:16px;
	
	
}

.sec_cover .art.box3 .tbox3 h3 > a{
	color:#555;
	font-weight:550;
	display:block;
}





.sec_cover .art.box3 .tbox3 .tlink > ul > li{
	float:left;
	/* border:1px solid red; */
	text-align:center;
	margin:17px 10px;
	font-weight:400;
	color:#0066cc;
	line-height:18px;
	font-size:18px;
	
}

.art.box3 .tbox3 .tlink ul li > a{
	padding:0 1px;
	color:#0066cc;
	font-size:15px;
	font-weight:600;
	line-height:17px;	
	/* display:block; */
}




section .sec_cover .art.box4{
	background:no-repeat center /cover;
	background-image:url(../images/box4bg2.jpg);
	background-size:auto 105%;
	background-position:bottom center;
}

.sec_cover .art.box4 .tbox4 h2{
	float:left;
	margin-left:50%;
	width:100%;
	transform:translateX(-50%);
	margin-top:35px;
	text-align:center;
	font-size:32px;
	padding:5px 0;
}



.sec_cover .art.box4 .tbox4 h3{
	width:100%;
	/* border:1px solid; */
	text-align:center;
	color:#444;
	font-weight:550;
	font-size:16px;
	/* line-height:20px; */
	
	
}

.sec_cover .art.box4 .tbox4 h3 > a{
	color:#555;
	font-weight:550;
	display:block;
}

.sec_cover .art.box4 .tbox4 .tlink{
	width:100%;
	float:left;
	/* border:1px solid; */
}

.sec_cover .art.box4 .tbox4 .tlink > ul{
	width:205px;
	float:left;
	/* border:1px solid blue; */
	margin-left:50%;
	transform:translateX(-50%);
	
}

.sec_cover .art.box4 .tbox4 .tlink > ul > li{
	float:left;
	/* border:1px solid; */
	text-align:center;
	margin:15px 10px;
	font-weight:400;
	color:#0066cc;
	line-height:18px;
	font-size:18px;
	
}

.art.box4 .tbox4 .tlink ul li > a{
	padding:0 1px;
	color:#0066cc;
	font-size:15px;
	font-weight:600;
	line-height:17px;	
	/* display:block; */
}


section .sec_cover .art.box5{
	background:no-repeat center /cover;
	background-image:url(../images/box5bg.jpg);
	background-size:auto 65%;
	background-position:bottom center;
	background-color:#000;
}

.sec_cover .art.box5 .tbox5{
	position:relative;
	width:100%;
	height:100%;
	/* border:1px solid green; */
}

.sec_cover .art.box5 .tbox5 > a{
	position:absolute;
	width:100%;
	height:100%;
}



.sec_cover .art.box5 .tbox5 h2{
	float:left;
	/* border:1px solid; */
	margin-left:50%;
	width:100%;
	color:#fff;
	transform:translateX(-50%);
	/* padding:0 100px; */
	margin-top:40px;
	text-align:center;
	font-size:32px;
	letter-spacing:1px;
}



.sec_cover .art.box5 .tbox5 h3{
	/* float:left; */
	width:100%;
	/* border:1px solid; */
	text-align:center;
	color:#fff;
	font-weight:400;
	font-size:17px;
	
	
}

.sec_cover .art.box5 .tbox5 h3 > a{
	color:#555;
	font-weight:550;
	display:block;
}

.sec_cover .art.box5 .tbox5 .tlink{
	width:100%;
	float:left;
	/* border:1px solid; */
}

.sec_cover .art.box5 .tbox5 .tlink > ul{
	width:205px;
	float:left;
	/* border:1px solid blue; */
	margin-left:50%;
	transform:translateX(-50%);
	
}

.sec_cover .art.box5 .tbox5 .tlink > ul > li{
	float:left;
	/* border:1px solid; */
	text-align:center;
	margin:15px 10px;
	font-weight:400;
	color:#2997ff;
	line-height:18px;
	font-size:18px;
	
}

.art.box5 .tbox5 .tlink ul li > a{
	padding:0 1px;
	color:#2997ff;
	font-size:15px;
	font-weight:600;
	line-height:17px;	
	/* display:block; */
}



section .sec_cover .art.box6{
	background:no-repeat center /cover;
	background-image:url(../images/box6bg2.jpg);
	background-size:auto 110%;
	/* background-position:bottom center; */
	position:relative;
}



.sec_cover .art.box6 .tbox6 > a{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}



.sec_cover .art.box6 .tbox6 h2{
	margin-left:50%;
	width:122px;
	transform:translateX(-50%);
	/* padding:0 100px; */
	margin-top:35px;
}

.sec_cover .art.box6 .tbox6 h2 img{
	display:block;
	width:100%;
	padding:5px 0;

}

.sec_cover .art.box6 .tbox6 h3{
	/* float:left; */
	width:100%;
	/* border:1px solid; */
	text-align:center;
	color:#fff;
	font-weight:500;
	font-size:17px;
	
	
}


.sec_cover .art.box6 .tbox6 .tlink{
	width:100%;
	float:left;
	/* border:1px solid; */
}

.sec_cover .art.box6 .tbox6 .tlink > ul{
	width:240px;
	float:left;
	/* border:1px solid blue; */
	margin-left:50%;
	transform:translateX(-50%);
	
}

.sec_cover .art.box6 .tbox6 .tlink > ul > li{
	float:left;
	/* border:1px solid; */
	text-align:center;
	margin:15px 10px;
	font-weight:550;
	color:#fff;
	line-height:25px;
	font-size:18px;
	
}

.art.box6 .tbox6 .tlink ul li > a{
	padding:0 1px;
	color:#fff;
	font-size:15px;
	font-weight:550;
	line-height:17px;	
	/* display:block; */
}
















	
	
	
	
	
	
}


