@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Roboto+Condensed&display=swap');
*{margin:0;padding:0;}
ul,li{list-style:none;}
a{text-decoration:none; color:#eee;}

.cf:after{
	content:'';
	display:block;
	clear:both;
}
body{
	font-family: 'Nanum Gothic', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
}

#wrap{
	width:100%;
	height:100%;
	background-color:#fff;
}

nav{
	width:100%;
	height:45px;
	background-color:#222;
	position:fixed;
	top:0;
	left:0;
	z-index:50;
}

nav .n_cover{
	width:90%;
	height:45px;
	max-width:2000px;
	/* border:1px solid #fff; */
	position:relative;
	left:50%;
	transform:translateX(-50%);
	/* display:none; */
}



.n_cover > ul{
	position:absolute;
	width:100%;
	left:50%;
	transform:translateX(-50%);
	/* border:1px solid blue; */
	max-width:1100px;
	/* display:none; */
}

.n_cover > ul > li{
	float:left;
	line-height:45px;
	width:10%;
	text-align:center;
	font-size:13px;
	
	
}


.n_cover > ul > li >  a i{
	font-size:18px;
}

.n_cover ul li a{
	/* display:block; */
	padding:0 10px;
	opacity:0.8;
}

.n_cover > ul >li > a:hover{
	opacity:1;
}


nav .fulld{
	position:absolute;
	top:100%;
	width:100%;
	height:1000px;
	background-color:#222;
	display:none;
}


.fulld > ul{
	width:100%;
	float:left;
	/* border:1px solid red; */
	box-sizing:border-box;
	padding:10px 20px;
	max-width:760px;
	position:relative;
	overflow:hidden;
	background-color:#222;
	/* display:none; */
	
}

.fulld > ul > li{
	/* float:left; */
	/* position:absolute; */
	border-bottom:1px solid #fff;
	box-sizing:border-box;
	opacity:1;
}

.fulld > ul > li:last-child{
	border:0;
}


.fulld > ul > li > a{
	display:block;
	line-height:45px;
	color:#ccc;
}

.fulld > ul > li:hover a{
	color:#fff;
}





.fulld .top_sc{
	float:left;
	width:100%;
	margin:0 auto;
	padding:20px;
	border-bottom:1px solid #eee;
	/* display:none; */
}

.fulld .top_sc > ul{
	float:left;
	width:100%;
	height:45px;
	/* border:1px solid blue; */
	position:relative;
	
}



.fulld .top_sc > ul > li{
	float:left;
	color:blue;
	/* padding:0 20px; */
	
}

.fulld .top_sc > ul > span{
	display:block;
	/* float:right; */
	position:absolute;
	right:30px;
	/* margin-right:30px; */
	line-height:45px;
	/* border:1px solid blue; */
	color:#0066cc;
	font-weight:bold;
	width:10%;
	text-align:center;
	cursor:pointer;
	display:none;
	z-index:10;
}


.fulld .top_sc > ul > li > input{
	line-height:45px;
	float:left;
	font-size:17px;
	color:#eee;
	background-color:#444;
	border:0;
	padding:0 15px;
	outline:none;
	margin:0 30px;
	width:80%;
	display:block;
	position:absolute;
	border-radius:0 10px 10px 0;
}

.fulld .top_sc ul li >i{
	position:absolute;
	border-radius:10px 0 0 10px;
	/* padding:0 15px; */
	font-size:20px;
	line-height:45px;
	color:#aaa;
	display:block;
	box-sizing:border-box;
	opacity:0.9;
	display:block;
	width:30px;
	text-align:center;
	line-height:45px;
	background-color:#444;
}







nav .search{
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.3);
	left:0;
	display:none;
}

.search .s_cover{
	position:fixed;
	
	height:45px;
	/* background-color:tan; */
	top:0;
	left:50%;
	transform:translateX(-50%);
	width:650px;
	/* border:1px solid red; */
	box-sizing:border-box;
}

.search .s_cover i{
	position:absolute;
	/* padding:0 15px; */
	font-size:20px;
	line-height:45px;
	color:#aaa;
	display:block;
	box-sizing:border-box;
	opacity:0.9;
	display:block;
	width:30px;
	text-align:center;
	line-height:45px;
}

.search .s_cover .fa-search{
	left:0;
}

.search .s_cover .fa-times{
	right:0;
}




.search .s_cover i:hover{
	opacity:1;
}



.search .s_cover > input{
	/* width:550px; */
	line-height:45px;
	float:right;
	font-size:17px;
	color:#eee;
	background-color:#333;
	border:0;
	padding:0 15px;
	outline:none;
	margin:0 30px;
	width:550px;
	/* transition:all 5s; */
}

.search .s_cover > input::placeholder{
	color:#fff;
	position:relative;
	right:0;
	opacity:0.3;
	display:block;
	
}





.search .s_cover > ul{
	position:absolute;
	top:100%;
	width:100%;
	height:250px;
	background-color:#fff;
	border-radius:0 0 20px 20px;
}

.search .s_cover ul span{
	/* width:100%; */
	display:block;
	padding:20px 50px;
	font-size:13px;
	color:#777;
}

.search .s_cover ul li{
	/* width:100%; */
	padding:0 20px;
}

.search .s_cover ul li a{
	display:block;
	color:#333;
	font-size:14px;
	line-height:30px;
	padding:0 40px;
	/* transition:all 0.8s; */
}

.search .s_cover ul li:hover a{
	background-color:#eee;
	color:blue;
	
}


nav .bn_cover{
	width:100%;
	height:45px;
	border:1px solid #fff;
	position:relative;
	left:50%;
	transform:translateX(-50%);
	display:none;
}



.bn_cover > ul{
	position:absolute;
	width:100%;
	left:50%;
	transform:translateX(-50%);
	/* border:1px solid blue; */
	max-width:1100px;
	/* display:none; */
}

.bn_cover > ul > .alogo{
	position:absolute;
	display:block;
	line-height:45px;
	width:10%;
	text-align:center;
	font-size:13px;
	left:50%;
	transform:translate(-50%);
	
	
}
.bn_cover > ul > li:last-child{
	position:absolute;
	right:0;
	display:block;
	line-height:45px;
	width:10%;
	text-align:center;
	font-size:13px;
}

.bn_cover > ul >.mbox1{
	position:absolute;
	left:0;
	display:block;
	height:45px;
	width:10%;
	text-align:center;
	font-size:13px;
	/* border:1px solid green; */
}

.bn_cover > ul >.mbox1 > a{
	position:relative;
	display:block;
	/* background-color:green; */
	width:20%;
	height:100%;
	left:50%;
	transform:translateX(-50%);
}

.bn_cover > ul >.mbox1 > a:before{
	content:'';
	display:block;
	position:absolute;
	width:20px;
	height:3px;
	top:15px;
	background-color:#fff;
	/* margin-top:10px;	 */
	transition:top 0.2s 0.4s, transform 0.2s;

	/* background-color:red; */
}



.bn_cover > ul >.mbox1 > a:after{
	content:'';
	display:block;
	position:absolute;
	width:20px;
	height:3px;
	top:27px;
	background-color:#fff;
	/* margin-top:10px;	 */
	transition:top 0.2s 0.4s, transform 0.2s;
	/* background-color:yellow; */
}


.bn_cover > ul >.mbox1.on > a:before{
	top:20.5px;
	/* transform-origin:center; */
	transform:rotate(45deg);
	transition:top 0.2s, transform 0.2s 0.4s;
}
.bn_cover > ul >.mbox1.on > a:after{
	top:20.5px;
	/* margin-top:-1.5px; */
	/* transform-origin:center; */
	transform:rotate(-45deg);
	transition:top 0.2s, transform 0.2s 0.4s;
}



.bn_cover > ul > li >  a i{
	font-size:18px;
	/* display:block; */
}

.bn_cover > ul > li >  a .fa-apple{
	font-size:20px;
	display:block;
	line-height:45px;
}


.bn_cover >ul > li > a{
	display:block;
	padding:0 10px;
	opacity:0.8;
}

.bn_cover > ul >li > a:hover{
	opacity:1;
}


.fake_nav{
	width:100%;
	height:45px;
}




.imgs{
	width:100%;
	height:300px;
	background-color:#fff;
	/* float:left; */
	
}

.imgs .img_cover{
	width:90%;
	margin:0 auto;
	/* padding-top:30px; */
	height:100%;
	/* border:1px solid; */
	position:relative;
}



.imgs h1{
	/* float:left; */
	display:block;
	width:76px;
	padding-top:30px;
	margin-left:50%;
	transform:translateX(-50%);
	text-align:center;
}

.imgs h1 img{
	display:block;
	width:100%;
}



.imgs h2{
	display:block;
	margin-top:15px;
	line-height:70px;
	font-size:48px;
	text-align:center;
	letter-spacing:-3px;
	/* border:1px solid #fff; */
}

.imgs h3{
	display:block;
	margin-top:10px;
	/* line-height:40px; */
	font-size:18px;
	text-align:center;
	/* border:1px solid #fff; */
	color:#0066cc;
	
}

.imgs h3 a{
	color:#0066cc;
	/* display:block; */
	/* float:left; */
	/* width:auto; */
	line-height:40px;
	letter-spacing:-0.5px;
	/* border:1px solid #fff; */
	/* margin-left:50%; */
	/* transform:translateX(-50%); */
	
}

.imgs h3 a:hover{
	/* display:block; */
	color:#0066cc;
	letter-spacing:0 10px;
	border-bottom:2px solid;
}





.imgbox{
	width:100%;
	max-width:2000px;
	height:430px;
	background-color:#fff;
}

.imgbox .ibox_cover{
	width:90%;
	height:100%;
	margin:0 auto;
	/* border:1px solid; */
	min-width:1100px;
	max-width:1200px;

	
}
.imgbox .ibox_cover .ibox{
	width:100%;
	height:100%;
	display:none;
	max-width:1300px;
	overflow:hidden;
}

.imgbox .ibox_cover article{
	float:left;
	width:33.33%;
	/* max-width:1500px; */
	height:100%;
	max-height:360px;
	/* border:1px solid; */
	box-sizing:border-box;
	transform:rotate(0deg);
	/* margin-left:1.75%; */
	
	
}



.ibox_cover article .rotate_cover{
	width:100%;
	height:100%;
	/* border:1px solid yellow; */
	box-sizing:border-box;
	
}

.ibox_cover article .rotate_cover ul{
	width:100%;
	height:100%;
	/* border:1px solid red; */
	box-sizing:border-box;
	position:relative;
	transform:rotate(-5deg);
	animation:rotate_cover 5s forwards;
}
@keyframes rotate_cover{
	0%{transform:rotate(-5deg);}
	100%{transform:rotate(0deg);}
}

.ibox_cover article:nth-child(1) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:200px;
	width:145px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}

.ibox_cover article:nth-child(1) .rotate_cover ul li img{
	display:block;
	width:100%;
	transform:rotate(190deg);
	margin-top:10px;
	animation:rotate 5s forwards;
}

@keyframes rotate{
	0%{transform:rotate(190deg);}
	100%{transform:rotate(200deg);}
}


.ibox_cover article:nth-child(1) .rotate_cover ul li:nth-child(1){
	transform:translateX(-50%) rotate(0deg);
}
.ibox_cover article:nth-child(1) .rotate_cover ul li:nth-child(2){
	transform:translateX(-50%) rotate(60deg);
}
.ibox_cover article:nth-child(1) .rotate_cover ul li:nth-child(3){
	transform:translateX(-50%) rotate(120deg);
}
.ibox_cover article:nth-child(1) .rotate_cover ul li:nth-child(4){
	transform:translateX(-50%) rotate(180deg);
}
.ibox_cover article:nth-child(1) .rotate_cover ul li:nth-child(5){
	transform:translateX(-50%) rotate(240deg);
}
.ibox_cover article:nth-child(1) .rotate_cover ul li:nth-child(6){
	transform:translateX(-50%) rotate(300deg);
}






.ibox_cover article:nth-child(2) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:250px;
	width:103px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}

.ibox_cover article:nth-child(2) .rotate_cover ul li img{
	display:block;
	width:100%;
	transform:rotate(-30deg);
	margin-top:10px;
	animation:rotate2 5s forwards;
}



@keyframes rotate2{
	0%{transform:rotate(-10deg);}
	100%{transform:rotate(0deg);}
}





.ibox_cover article:nth-child(2) .rotate_cover ul li:nth-child(1){
	transform:translateX(-50%) rotate(0deg);
}
.ibox_cover article:nth-child(2) .rotate_cover ul li:nth-child(2){
	transform:translateX(-50%) rotate(30deg);
}
.ibox_cover article:nth-child(2) .rotate_cover ul li:nth-child(3){
	transform:translateX(-50%) rotate(60deg);
}
.ibox_cover article:nth-child(2) .rotate_cover ul li:nth-child(4){
	transform:translateX(-50%) rotate(90deg);
}
.ibox_cover article:nth-child(2) .rotate_cover ul li:nth-child(5){
	transform:translateX(-50%) rotate(120deg);
}
.ibox_cover article:nth-child(2) .rotate_cover ul li:nth-child(6){
	transform:translateX(-50%) rotate(150deg);
}
.ibox_cover article:nth-child(2) .rotate_cover ul li:nth-child(7){
	transform:translateX(-50%) rotate(180deg);
}
.ibox_cover article:nth-child(2) .rotate_cover ul li:nth-child(8){
	transform:translateX(-50%) rotate(210deg);
}
.ibox_cover article:nth-child(2) .rotate_cover ul li:nth-child(9){
	transform:translateX(-50%) rotate(240deg);
}
.ibox_cover article:nth-child(2) .rotate_cover ul li:nth-child(10){
	transform:translateX(-50%) rotate(270deg);
}
.ibox_cover article:nth-child(2) .rotate_cover ul li:nth-child(11){
	transform:translateX(-50%) rotate(300deg);
}
.ibox_cover article:nth-child(2) .rotate_cover ul li:nth-child(12){
	transform:translateX(-50%) rotate(330deg);
}




.ibox_cover article:nth-child(3) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:200px;
	width:157px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}

.ibox_cover article:nth-child(3) .rotate_cover ul li img{
	display:block;
	width:100%;
	transform:rotate(180deg);
	margin-top:10px;
	animation:rotate3 5s forwards;
}

@keyframes rotate3{
	0%{transform:rotate(-190deg);}
	100%{transform:rotate(-170deg);}
}

.ibox_cover article:nth-child(3) .rotate_cover ul li:nth-child(1){
	transform:translateX(-50%) rotate(-10deg);
}

.ibox_cover article:nth-child(3) .rotate_cover ul li:nth-child(2){
	transform:translateX(-50%) rotate(35deg);
}
.ibox_cover article:nth-child(3) .rotate_cover ul li:nth-child(3){
	transform:translateX(-50%) rotate(80deg);
}
.ibox_cover article:nth-child(3) .rotate_cover ul li:nth-child(4){
	transform:translateX(-50%) rotate(125deg);
}
.ibox_cover article:nth-child(3) .rotate_cover ul li:nth-child(5){
	transform:translateX(-50%) rotate(170deg);
}
.ibox_cover article:nth-child(3) .rotate_cover ul li:nth-child(6){
	transform:translateX(-50%) rotate(215deg);
}
.ibox_cover article:nth-child(3) .rotate_cover ul li:nth-child(7){
	transform:translateX(-50%) rotate(260deg);
}
.ibox_cover article:nth-child(3) .rotate_cover ul li:nth-child(8){
	transform:translateX(-50%) rotate(305deg);
}










.ibox_cover .ibox:nth-child(2) article:nth-child(1) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:260px;
	width:103px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}



.ibox_cover .ibox:nth-child(2) article:nth-child(1) .rotate_cover ul li img{
	display:block;
	width:100%;
	transform:rotate(180deg);
	margin-top:10px;
	animation:rotate2_1 5s forwards;
}

@keyframes rotate2_1{
	0%{transform:rotate(-200deg);}
	100%{transform:rotate(-180deg);}
}


.ibox_cover .ibox:nth-child(2) article:nth-child(1) .rotate_cover ul li:nth-child(1){
	transform:translateX(-50%) rotate(0deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(1) .rotate_cover ul li:nth-child(2){
	transform:translateX(-50%) rotate(30deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(1) .rotate_cover ul li:nth-child(3){
	transform:translateX(-50%) rotate(60deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(1) .rotate_cover ul li:nth-child(4){
	transform:translateX(-50%) rotate(90deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(1) .rotate_cover ul li:nth-child(5){
	transform:translateX(-50%) rotate(120deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(1) .rotate_cover ul li:nth-child(6){
	transform:translateX(-50%) rotate(150deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(1) .rotate_cover ul li:nth-child(7){
	transform:translateX(-50%) rotate(180deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(1) .rotate_cover ul li:nth-child(8){
	transform:translateX(-50%) rotate(210deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(1) .rotate_cover ul li:nth-child(9){
	transform:translateX(-50%) rotate(240deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(1) .rotate_cover ul li:nth-child(10){
	transform:translateX(-50%) rotate(270deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(1) .rotate_cover ul li:nth-child(11){
	transform:translateX(-50%) rotate(300deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(1) .rotate_cover ul li:nth-child(12){
	transform:translateX(-50%) rotate(330deg);
}





.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:290px;
	width:69px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}

.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover:nth-child(2){
	position:relative;
}


.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul{
	position:absolute;
}

.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul:nth-child(2) li{
	position:absolute;
	/* height:400px; */
	padding-bottom:210px;
	padding-top:90px;
	width:69px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}



.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul li img{
	display:block;
	width:100%;
	transform:rotate(180deg);
	margin-top:10px;
	animation:rotate2_2 5s forwards;
}

@keyframes rotate2_2{
	0%{transform:rotate(-20deg);}
	100%{transform:rotate(0deg);}
}


.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul li:nth-child(1){
	transform:translateX(-50%) rotate(0deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul li:nth-child(2){
	transform:translateX(-50%) rotate(30deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul li:nth-child(3){
	transform:translateX(-50%) rotate(60deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul li:nth-child(4){
	transform:translateX(-50%) rotate(90deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul li:nth-child(5){
	transform:translateX(-50%) rotate(120deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul li:nth-child(6){
	transform:translateX(-50%) rotate(150deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul li:nth-child(7){
	transform:translateX(-50%) rotate(180deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul li:nth-child(8){
	transform:translateX(-50%) rotate(210deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul li:nth-child(9){
	transform:translateX(-50%) rotate(240deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul li:nth-child(10){
	transform:translateX(-50%) rotate(270deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul li:nth-child(11){
	transform:translateX(-50%) rotate(300deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul li:nth-child(12){
	transform:translateX(-50%) rotate(330deg);
}


.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul:nth-child(2) li:nth-child(1){
	transform:translateX(-50%) rotate(0deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul:nth-child(2) li:nth-child(2){
	transform:translateX(-50%) rotate(60deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul:nth-child(2) li:nth-child(3){
	transform:translateX(-50%) rotate(120deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul:nth-child(2) li:nth-child(4){
	transform:translateX(-50%) rotate(180deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul:nth-child(2) li:nth-child(5){
	transform:translateX(-50%) rotate(240deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(2) .rotate_cover ul:nth-child(2) li:nth-child(6){
	transform:translateX(-50%) rotate(300deg);
}




.ibox_cover .ibox:nth-child(2) article:nth-child(3) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:200px;
	width:145px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}

.ibox_cover .ibox:nth-child(2) article:nth-child(3) .rotate_cover ul li img{
	display:block;
	width:100%;
	transform:rotate(190deg);
	margin-top:10px;
	animation:rotate2_3 5s forwards;
}

@keyframes rotate2_3{
	0%{transform:rotate(190deg);}
	100%{transform:rotate(210deg);}
}


.ibox_cover .ibox:nth-child(2) article:nth-child(3) .rotate_cover ul li:nth-child(1){
	transform:translateX(-50%) rotate(0deg);
}
.ibox_cover .ibox:nth-child(2) article:nth-child(3) .rotate_cover ul li:nth-child(2){
	transform:translateX(-50%) rotate(60deg);
}
.ibox_cover  .ibox:nth-child(2) article:nth-child(3) .rotate_cover ul li:nth-child(3){
	transform:translateX(-50%) rotate(120deg);
}
.ibox_cover  .ibox:nth-child(2) article:nth-child(3) .rotate_cover ul li:nth-child(4){
	transform:translateX(-50%) rotate(180deg);
}
.ibox_cover  .ibox:nth-child(2) article:nth-child(3) .rotate_cover ul li:nth-child(5){
	transform:translateX(-50%) rotate(240deg);
}
.ibox_cover  .ibox:nth-child(2) article:nth-child(3) .rotate_cover ul li:nth-child(6){
	transform:translateX(-50%) rotate(300deg);
}






.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:210px;
	width:162px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}

.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul .pan{
	padding-bottom:190px;
	padding-top:40px;
	width:142px;
}





.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul li img{
	display:block;
	width:100%;
	transform:rotate(180deg);
	margin-top:10px;
	animation:rotate3_1 5s forwards;
}

@keyframes rotate3_1{
	0%{transform:rotate(-190deg);}
	100%{transform:rotate(-180deg);}
}


.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul li:nth-child(1){
	transform:translateX(-50%) rotate(0deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul li:nth-child(2){
	transform:translateX(-50%) rotate(30deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul li:nth-child(3){
	transform:translateX(-50%) rotate(60deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul li:nth-child(4){
	transform:translateX(-50%) rotate(90deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul li:nth-child(5){
	transform:translateX(-50%) rotate(120deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul li:nth-child(6){
	transform:translateX(-50%) rotate(150deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul li:nth-child(7){
	transform:translateX(-50%) rotate(180deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul li:nth-child(8){
	transform:translateX(-50%) rotate(210deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul li:nth-child(9){
	transform:translateX(-50%) rotate(240deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul li:nth-child(10){
	transform:translateX(-50%) rotate(270deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul li:nth-child(11){
	transform:translateX(-50%) rotate(300deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(1) .rotate_cover ul li:nth-child(12){
	transform:translateX(-50%) rotate(330deg);
}






.ibox_cover .ibox:nth-child(3) article:nth-child(2) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:210px;
	/* padding-top:30px; */
	width:144px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}


.ibox_cover .ibox:nth-child(3) article:nth-child(2) .rotate_cover ul li img{
	display:block;
	width:100%;
	transform:rotate(180deg);
	margin-top:10px;
	animation:rotate3_2 5s forwards;
}

@keyframes rotate3_2{
	0%{transform:rotate(-170deg);}
	100%{transform:rotate(-155deg);}
}


.ibox_cover .ibox:nth-child(3) article:nth-child(2) .rotate_cover ul li:nth-child(1){
	transform:translateX(-50%) rotate(-25deg);
	z-index:1;
}
.ibox_cover .ibox:nth-child(3) article:nth-child(2) .rotate_cover ul li:nth-child(2){
	transform:translateX(-50%) rotate(-70deg);
	z-index:2;
}
.ibox_cover .ibox:nth-child(3) article:nth-child(2) .rotate_cover ul li:nth-child(3){
	transform:translateX(-50%) rotate(-115deg);
	z-index:3;
}
.ibox_cover .ibox:nth-child(3) article:nth-child(2) .rotate_cover ul li:nth-child(4){
	transform:translateX(-50%) rotate(-160deg);
	z-index:4;
}
.ibox_cover .ibox:nth-child(3) article:nth-child(2) .rotate_cover ul li:nth-child(5){
	transform:translateX(-50%) rotate(-205deg);
	z-index:5;
}
.ibox_cover .ibox:nth-child(3) article:nth-child(2) .rotate_cover ul li:nth-child(6){
	transform:translateX(-50%) rotate(-250deg);
	z-index:6;
}
.ibox_cover .ibox:nth-child(3) article:nth-child(2) .rotate_cover ul li:nth-child(7){
	transform:translateX(-50%) rotate(-295deg);
	z-index:7;
}
.ibox_cover .ibox:nth-child(3) article:nth-child(2) .rotate_cover ul li:nth-child(8){
	transform:translateX(-50%) rotate(-340deg);
	z-index:8;
}
.ibox_cover .ibox:nth-child(3) article:nth-child(2) .rotate_cover ul li:nth-child(9){
	transform:translateX(-50%) rotate(-25deg);
	z-index:5;

}

.ibox_cover .ibox:nth-child(3) article:nth-child(2) .rotate_cover ul li:nth-child(9) img{
	/* border:1px solid; */
}








.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul li{
	position:absolute;
	/* height:400px; */
	padding-bottom:290px;
	width:69px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}

.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover{
	position:relative;
}


.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul{
	position:absolute;
}

.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul:nth-child(2) li{
	position:absolute;
	/* height:400px; */
	padding-bottom:210px;
	padding-top:90px;
	width:69px;
	left:50%;
	/* top:50%; */
	transform:translateX(-50%);
	/* border:1px solid; */
	transform-origin:center;
}



.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul li img{
	display:block;
	width:100%;
	transform:rotate(180deg);
	margin-top:10px;
	animation:rotate3_3 5s forwards;
}

@keyframes rotate3_3{
	0%{transform:rotate(-20deg);}
	100%{transform:rotate(0deg);}
}


.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul li:nth-child(1){
	transform:translateX(-50%) rotate(0deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul li:nth-child(2){
	transform:translateX(-50%) rotate(30deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul li:nth-child(3){
	transform:translateX(-50%) rotate(60deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul li:nth-child(4){
	transform:translateX(-50%) rotate(90deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul li:nth-child(5){
	transform:translateX(-50%) rotate(120deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul li:nth-child(6){
	transform:translateX(-50%) rotate(150deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul li:nth-child(7){
	transform:translateX(-50%) rotate(180deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul li:nth-child(8){
	transform:translateX(-50%) rotate(210deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul li:nth-child(9){
	transform:translateX(-50%) rotate(240deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul li:nth-child(10){
	transform:translateX(-50%) rotate(270deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul li:nth-child(11){
	transform:translateX(-50%) rotate(300deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul li:nth-child(12){
	transform:translateX(-50%) rotate(330deg);
}


.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul:nth-child(2) li:nth-child(1){
	transform:translateX(-50%) rotate(0deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul:nth-child(2) li:nth-child(2){
	transform:translateX(-50%) rotate(60deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul:nth-child(2) li:nth-child(3){
	transform:translateX(-50%) rotate(120deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul:nth-child(2) li:nth-child(4){
	transform:translateX(-50%) rotate(180deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul:nth-child(2) li:nth-child(5){
	transform:translateX(-50%) rotate(240deg);
}
.ibox_cover .ibox:nth-child(3) article:nth-child(3) .rotate_cover ul:nth-child(2) li:nth-child(6){
	transform:translateX(-50%) rotate(300deg);
}






























.two_bg{
	width:100%;
	/* max-width:1200px; */
	height:600px;
	border:1px solid #fff;
	box-sizing:border-box;
	/* background-color:#000; */
	
}

.two_bg .two_cover{
	width:100%;
	max-width:2000px;
	margin:0 auto;
	height:100%;
	/* border:1px solid #fff; */
	box-sizing:border-box;
	background:no-repeat center /cover;
	background-image:url(../images/bg222.jpg);
	background-size:auto 105%;
	background-position:bottom center;

}

.two_bg .two_cover h2{
	display:block;
	color:#fff;
	/* border:1px solid; */
	font-size:55px;
	text-align:center;
	line-height:60px;
	padding-top:70px;
}

.two_bg .two_cover h3{
	display:block;
	color:#fff;
	/* border:1px solid; */
	font-size:23px;
	text-align:center;
	line-height:40px;
	letter-spacing:-2px;
}

.two_bg .two_cover p{
	display:block;
	color:#777;
	/* border:1px solid; */
	font-size:15px;
	font-weight:bold;
	text-align:center;
	line-height:30px;
	/* letter-spacing:-3px; */
}

.two_bg .two_cover .two_link{
	display:block;
	width:100%;
	height:40px;
	float:left;
	text-align:center;
	/* border:1px solid blue; */
	position:relative;
	
}

.two_bg .two_cover .two_link .link_cover{
	/* width:80%; */
	height:30px;
	/* display:block; */
	/* float:left; */
	margin:0 auto;
	/* border:1px solid #fff; */
	/* background-color:#aaa; */
	position:absolute;
	left:50%;
	transform:translate(-50%);
	color:#2997ff;
}

.two_bg .two_cover .two_link li{
	float:left;
	/* border:1px solid #fff; */
	padding:0 10px;
	text-align:center;
	font-size:30px;
	font-weight:bold;
	line-height:40px;
}


.two_bg .two_cover .two_link li a{
	float:left;
	/* display:block; */
	text-align:center;
	/* padding:0 15px; */
	font-size:18px;
	line-height:40px;
	/* border:1px solid blue; */
	font-weight:bold;
	color:#2997ff;
	margin:0 5px;
	

	
}

.two_bg .two_cover .two_link a:hover{
	border-bottom:2px solid;
	/* text-decoration:underline; */
}


.three_bg{
	width:100%;
	height:600px;
	border:1px solid #fff;
	box-sizing:border-box;
	background:no-repeat center /cover;
	background-image:url(../images/bg3.jpg);
	background-size:auto 100%;
	background-position:bottom center;
	float:left;
}

.three_bg .three_cover{
	width:90%;
	margin:0 auto;
	height:100%;
	/* border:1px solid red; */
	box-sizing:border-box;

	perspective:200%;
}

.three_bg .three_cover > h2{
	display:block;
	color:#333;
	/* border:1px solid blue; */
	font-size:55px;
	text-align:center;
	line-height:60px;
	padding-top:50px;
	letter-spacing:0px;
}

.three_bg .three_cover > h3{
	display:block;
	color:#333;
	/* border:1px solid; */
	font-size:23px;
	text-align:center;
	line-height:40px;
	letter-spacing:-1px;
}

.three_bg .three_cover p{
	display:block;
	color:#777;
	/* border:1px solid; */
	font-size:15px;
	font-weight:bold;
	text-align:center;
	line-height:30px;
	/* letter-spacing:-3px; */
}

.three_bg .three_cover .three_link{
	display:block;
	width:100%;
	height:40px;
	float:left;
	text-align:center;
	/* border:1px solid blue; */
	position:relative;
	
}

.three_bg .three_cover .three_link .link_cover{
	/* width:80%; */
	height:30px;
	/* display:block; */
	/* float:left; */
	margin:0 auto;
	/* border:1px solid #fff; */
	/* background-color:#aaa; */
	position:absolute;
	left:50%;
	transform:translate(-50%);
	color:#2997ff;
}

.three_bg .three_cover .three_link .link_cover li{
	float:left;
	/* border:1px solid #fff; */
	padding:0 10px;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	line-height:40px;
}


.three_bg .three_cover .three_link .link_cover li a{
	float:left;
	/* display:block; */
	text-align:center;
	/* padding:0 15px; */
	font-size:18px;
	line-height:40px;
	/* border:1px solid blue; */
	font-weight:bold;
	color:#2997ff;
	margin:0 5px;
	

	
}

.three_bg .three_cover .three_link a:hover{
	border-bottom:2px solid;
	/* text-decoration:underline; */
}


section{
	width:100%;
	height:auto;
}


section .sec_cover{
	margin:0 auto;
	width:100%;
	height:1600px;
	max-width:2000px;
}

section .sec_cover .art{
	float:left;
	width:49%;
	height:580px;
	margin-left:0.66%;
	margin-top:10px;
	/* border:1px solid red; */
	box-sizing:border-box;
	
	
}
section .sec_cover .art.box1{
	background:no-repeat center /cover;
	background-image:url(../images/box1bg.jpg);
	background-size:auto 100%;
	background-position:bottom center;
}





.sec_cover .art.box1 .tbox1{
	position:relative;
	width:100%;
	height:100%;
	/* border:1px solid green; */
}

.sec_cover .art.box1 .tbox1 > a{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}



.sec_cover .art.box1 .tbox1 h2{
	/* position:absolute; */
	/* float:left; */
	/* border:1px solid; */
	margin-left:50%;
	width:156px;
	transform:translateX(-50%);
	/* padding:0 100px; */
	padding-top:50px;
}

.sec_cover .art.box1 .tbox1 h2 img{
	display:block;
	width:100%;
	padding:5px 0;

}

.sec_cover .art.box1 .tbox1 h3{
	/* float:left; */
	width:100%;
	/* border:1px solid; */
	text-align:center;
	color:#444;
	font-weight:550;
	
	
}

.sec_cover .art.box1 .tbox1 h3 > a{
	color:#555;
	font-weight:550;
	display:block;
}

.sec_cover .art.box1 .tbox1 .tlink{
	width:100%;
	float:left;
	/* border:1px solid; */
}

.sec_cover .art.box1 .tbox1 .tlink > ul{
	/* width:100%; */
	float:left;
	/* border:1px solid blue; */
	margin-left:50%;
	transform:translateX(-50%);
	
}

.sec_cover .art.box1 .tbox1 .tlink > ul > li{
	float:left;
	/* border:1px solid; */
	text-align:center;
	margin:15px 15px;
	font-weight:400;
	color:#0066cc;
	line-height:18px;
	font-size:18px;
	
}

.art.box1 .tbox1 .tlink ul li > a{
	padding:0 1px;
	color:#0066cc;
	font-size:15px;
	font-weight:600;
	line-height:17px;	
	/* display:block; */
}

.art.box1 .tbox1 .tlink ul li > a:hover{
	text-decoration:underline;

}












section .sec_cover .art.box2{
	background:no-repeat center /cover;
	background-image:url(../images/box2bg.jpg);
	background-size:auto 100%;
	background-position:bottom center;
}


.sec_cover .art.box2 .tbox2{
	position:relative;
	width:100%;
	height:100%;
	/* border:1px solid green; */
}



.sec_cover .art.box2 .tbox2 > a{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}




.sec_cover .art.box2 .tbox2 h2{
	/* position:absolute; */
	/* float:left; */
	/* border:1px solid; */
	margin-left:50%;
	width:45px;
	transform:translateX(-50%);
	/* padding:0 100px; */
	padding-top:30px;
}

.sec_cover .art.box2 .tbox2 h2 img{
	display:block;
	width:100%;
	/* padding:2px 0; */

}

.sec_cover .art.box2 .tbox2 h3{
	/* float:left; */
	width:100%;
	/* border:1px solid; */
	text-align:center;
	font-size:35px;
	color:#fff;
	font-weight:550;
	letter-spacing:-2px;
	
	
}

.sec_cover .art.box2 .tbox2 h3 > a{
	color:#555;
	font-weight:550;
	display:block;
}

.sec_cover .art.box2 .tbox2 .tlink{
	width:100%;
	float:left;
	/* border:1px solid; */
}

.sec_cover .art.box2 .tbox2 .tlink > ul{
	/* width:100%; */
	float:left;
	/* border:1px solid blue; */
	margin-left:50%;
	transform:translateX(-50%);
	
}

.sec_cover .art.box2 .tbox2 .tlink > ul > li{
	float:left;
	/* border:1px solid; */
	text-align:center;
	margin:5px 15px;
	font-weight:100;
	color:#fff;
	line-height:30px;
	font-size:20px;
	/* width:120px; */
}

.art.box2 .tbox2 .tlink ul li > a{
	padding:0 1px;
	color:#fff;
	font-size:15px;
	font-weight:600;
	line-height:30px;	
	display:block;
	width:85px;
	float:left;
}

.art.box2 .tbox2 .tlink ul li > a:hover{
	text-decoration:underline;

}

































section .sec_cover .art.box3{
	background:no-repeat center /cover;
	background-image:url(../images/box3bg.jpg);
	background-size:auto 100%;
	background-position:bottom center;
}


.sec_cover .art.box3 .tbox3{
	position:relative;
	width:100%;
	height:100%;
	/* border:1px solid green; */
}

.sec_cover .art.box3 .tbox3 > a{
	position:absolute;
	width:100%;
	height:100%;
}



.sec_cover .art.box3 .tbox3 h2{
	/* position:absolute; */
	/* float:left; */
	/* border:1px solid; */
	margin-left:50%;
	width:156px;
	transform:translateX(-50%);
	/* padding:0 100px; */
	padding-top:50px;
	text-align:center;
	font-size:40px;
}

.sec_cover .art.box3 .tbox3 h2 img{
	display:block;
	width:100%;
	padding:5px 0;

}

.sec_cover .art.box3 .tbox3 h3{
	/* float:left; */
	width:100%;
	/* border:1px solid; */
	text-align:center;
	color:#444;
	font-weight:550;
	
	
}

.sec_cover .art.box3 .tbox3 h3 > a{
	color:#555;
	font-weight:550;
	display:block;
}

.sec_cover .art.box3 .tbox3 .tlink{
	width:100%;
	float:left;
	/* border:1px solid; */
}

.sec_cover .art.box3 .tbox3 .tlink > ul{
	/* width:100%; */
	float:left;
	/* border:1px solid blue; */
	margin-left:50%;
	transform:translateX(-50%);
	
}

.sec_cover .art.box3 .tbox3 .tlink > ul > li{
	float:left;
	/* border:1px solid; */
	text-align:center;
	margin:15px 15px;
	font-weight:400;
	color:#0066cc;
	line-height:18px;
	font-size:18px;
	
}

.art.box3 .tbox3 .tlink ul li > a{
	padding:0 1px;
	color:#0066cc;
	font-size:15px;
	font-weight:600;
	line-height:17px;	
	/* display:block; */
}

.art.box3 .tbox3 .tlink ul li > a:hover{
	text-decoration:underline;

}








section .sec_cover .art.box4{
	background:no-repeat center /cover;
	background-image:url(../images/box4bg.jpg);
	background-size:auto 100%;
	background-position:bottom center;
}

.sec_cover .art.box4 .tbox4{
	position:relative;
	width:100%;
	height:100%;
	/* border:1px solid green; */
}

.sec_cover .art.box4 .tbox4 > a{
	position:absolute;
	width:100%;
	height:100%;
}



.sec_cover .art.box4 .tbox4 h2{
	/* position:absolute; */
	float:left;
	/* border:1px solid; */
	margin-left:50%;
	width:100%;
	transform:translateX(-50%);
	/* padding:0 100px; */
	margin-top:50px;
	text-align:center;
	font-size:40px;
}



.sec_cover .art.box4 .tbox4 h3{
	/* float:left; */
	width:100%;
	/* border:1px solid; */
	text-align:center;
	color:#444;
	font-weight:550;
	
	
}

.sec_cover .art.box4 .tbox4 h3 > a{
	color:#555;
	font-weight:550;
	display:block;
}

.sec_cover .art.box4 .tbox4 .tlink{
	width:100%;
	float:left;
	/* border:1px solid; */
}

.sec_cover .art.box4 .tbox4 .tlink > ul{
	/* width:100%; */
	float:left;
	/* border:1px solid blue; */
	margin-left:50%;
	transform:translateX(-50%);
	
}

.sec_cover .art.box4 .tbox4 .tlink > ul > li{
	float:left;
	/* border:1px solid; */
	text-align:center;
	margin:15px 15px;
	font-weight:400;
	color:#0066cc;
	line-height:18px;
	font-size:18px;
	
}

.art.box4 .tbox4 .tlink ul li > a{
	padding:0 1px;
	color:#0066cc;
	font-size:15px;
	font-weight:600;
	line-height:17px;	
	/* display:block; */
}

.art.box4 .tbox4 .tlink ul li > a:hover{
	text-decoration:underline;

}










section .sec_cover .art.box5{
	background:no-repeat center /cover;
	background-image:url(../images/box5bg.jpg);
	background-size:auto 65%;
	background-position:bottom center;
	background-color:#000;
}

.sec_cover .art.box5 .tbox5{
	position:relative;
	width:100%;
	height:100%;
	/* border:1px solid green; */
}

.sec_cover .art.box5 .tbox5 > a{
	position:absolute;
	width:100%;
	height:100%;
}



.sec_cover .art.box5 .tbox5 h2{
	float:left;
	/* border:1px solid; */
	margin-left:50%;
	width:100%;
	color:#fff;
	transform:translateX(-50%);
	/* padding:0 100px; */
	margin-top:50px;
	text-align:center;
	font-size:40px;
	letter-spacing:1px;
}



.sec_cover .art.box5 .tbox5 h3{
	/* float:left; */
	width:100%;
	/* border:1px solid; */
	text-align:center;
	color:#fff;
	font-weight:400;
	
	
}

.sec_cover .art.box5 .tbox5 h3 > a{
	color:#555;
	font-weight:550;
	display:block;
}

.sec_cover .art.box5 .tbox5 .tlink{
	width:100%;
	float:left;
	/* border:1px solid; */
}

.sec_cover .art.box5 .tbox5 .tlink > ul{
	/* width:100%; */
	float:left;
	/* border:1px solid blue; */
	margin-left:50%;
	transform:translateX(-50%);
	
}

.sec_cover .art.box5 .tbox5 .tlink > ul > li{
	float:left;
	/* border:1px solid; */
	text-align:center;
	margin:15px 15px;
	font-weight:400;
	color:#2997ff;
	line-height:18px;
	font-size:18px;
	
}

.art.box5 .tbox5 .tlink ul li > a{
	padding:0 1px;
	color:#2997ff;
	font-size:15px;
	font-weight:600;
	line-height:17px;	
	/* display:block; */
}

.art.box5 .tbox5 .tlink ul li > a:hover{
	text-decoration:underline;

}























section .sec_cover .art.box6{
	background:no-repeat center /cover;
	background-image:url(../images/box6bg.jpg);
	/* background-size:auto 100%; */
	/* background-position:bottom center; */
	position:relative;
}



.sec_cover .art.box6 .tbox6 > a{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}



.sec_cover .art.box6 .tbox6 h2{
	/* position:absolute; */
	/* float:left; */
	/* border:1px solid; */
	margin-left:50%;
	width:152px;
	transform:translateX(-50%);
	/* padding:0 100px; */
	margin-top:50px;
}

.sec_cover .art.box6 .tbox6 h2 img{
	display:block;
	width:100%;
	padding:5px 0;

}

.sec_cover .art.box6 .tbox6 h3{
	/* float:left; */
	width:100%;
	/* border:1px solid; */
	text-align:center;
	color:#fff;
	font-weight:550;
	
	
}


.sec_cover .art.box6 .tbox6 .tlink{
	width:100%;
	float:left;
	/* border:1px solid; */
}

.sec_cover .art.box6 .tbox6 .tlink > ul{
	/* width:100%; */
	float:left;
	/* border:1px solid blue; */
	margin-left:50%;
	transform:translateX(-50%);
	
}

.sec_cover .art.box6 .tbox6 .tlink > ul > li{
	float:left;
	/* border:1px solid; */
	text-align:center;
	margin:15px 15px;
	font-weight:600;
	color:#fff;
	line-height:25px;
	font-size:18px;
	
}

.art.box6 .tbox6 .tlink ul li > a{
	padding:0 1px;
	color:#fff;
	font-size:15px;
	font-weight:550;
	line-height:17px;	
	/* display:block; */
}

.art.box6 .tbox6 .tlink ul li > a:hover{
	text-decoration:underline;

}



.info{
	width:100%;
	margin-top:10px;
	height:auto;
	background-color:#eee;
	float:left;
	
}


.info .info_cover{
	width:90%;
	max-width:980px;
	margin:0 auto;
	height:auto;
	padding:20px 0;
	/* border-bottom:3px solid red; */
}

.info .info_cover > ul{
	width:100%;
	float:left;
	border-bottom:1px solid #ccc;
}

.info .info_cover > ul > li{
	/* border:1px solid blue; */
	font-size:12px;
	line-height:20px;
	font-weight:550;
	padding-bottom:9.5px;
	color:#888;
	word-break:keep-all;
	letter-spacing:-0.5px;
}



footer{
	width:100%;
	height:auto;
	float:left;
	background-color:#eee;
	/* border:1px solid; */
}

footer .f_cover{
	width:90%;
	max-width:980px;
	margin:0 auto;
	/* border:1px solid; */
	padding-bottom:10px;
}


footer .f_cover .fox{
	float:left;
	width:20%;
	/* border:1px solid blue; */
	box-sizing:border-box;
	padding:0 5px;
}

footer .f_cover .fox h4{
	font-size:11px;
	line-height:30px;
	color:#333;
	float:left;
	width:100%;
	position:relative;
}

footer .f_cover .fox h4 span{
	position:absolute;
	right:0;
	display:none;
}


footer .f_cover .fox ul{
	float:left;
	width:100%;
	padding:10px 0;
	/* border:1px solid yellow; */
	box-sizing:border-box;
}


footer .f_cover .fox ul >li{
	font-size:11px;
	line-height:20px;
	word-break:keep-all;
}

footer .f_cover .fox ul >li > a{
	color:#555;
	font-weight:450;
}



footer .f_cover .fox ul >li:hover a{
	text-decoration:underline;
}


.last_footer{
	width:100%;
	height:auto;
	/* float:left; */
	
}

.last_foot .last_cover{
	width:90%;
	height:90px;
	max-width:980px;
	/* float:left; */
	background-color:#eee;
	margin:0 auto;
	/* padding-bottom:20px; */
}

.last_foot .last_cover .foo_top{
	width:100%;
	font-size:12px;
	font-weight:500;
	color:#888;
	border-bottom:1px solid #ccc;
	padding:5px 0;
	
}

.last_foot .last_cover .foo_top a{
	color:#0066cc;
}
.last_foot .last_cover .foo_top a:hover{
	text-decoration:underline;
}


.last_foot .last_cover .foo_bottom{
	width:100%;
	float:left;
}

.last_foot .last_cover .foo_bottom div{
	font-size:11px;
	line-height:18px;
	/* border:1px solid; */
	box-sizing:border-box;
	padding:5px 0;
}


.last_foot .last_cover .foo_bottom .lang{
	float:right;
}

.last_foot .last_cover .foo_bottom .lang a span{
	float:left;
	width:16px;
	height:16px;
	display:block;
	background:url(../images/iconkr.png)no-repeat center/ cover;
	margin-top:1px;
	margin-right:3px;
	
}

.last_foot .last_cover .foo_bottom .lang a{
	/* display:block; */
	color:#333;
	/* height:18px; */
	font-size:10.5px;
	line-height:18px;
	/* padding:2px 0; */
}

.last_foot .last_cover .foo_bottom .lang a:hover{
	border-bottom:1px solid;
}


.last_foot .last_cover .foo_bottom .copy,
.last_foot .last_cover .foo_bottom .rull{
	float:left;
}

.last_foot .last_cover .foo_bottom .rull{
	margin-left:30px;
}

.last_foot .last_cover .foo_bottom .rull a{
	padding:0 10px;
	float:left;
	font-weight:550;
	color:#777;
	display:block;
	border-left:1px solid #ccc;
}

.last_foot .last_cover .foo_bottom .rull a:first-child{
	border-left:0;
}


.last_foot .last_cover .foo_bottom .copy{
	font-size:12px;
	font-weight:580;
	color:#aaa;
}


.last_foot .last_cover .foo_bottom p{
	float:left;
	font-size:11px;
	padding:1px 0;
	letter-spacing:-0.5px;
	color:#aaa;
}




.pop{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:rgba(0,0,0,1);
	z-index:100;
	display:none;
}

.pop .logo{
	position:absolute;
	width:130px;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}

.pop .logo img{
	display:block;
	width:100%;
	opacity:0.5;
}




.pop span{
	display:block;
	position:absolute;
	/* width:40px; */
	font-size:40px;
	font-weight:100;
	color:#ccc;
	
	top:0;
	left:0;
	/* border:1px solid; */
	padding:30px 40px;
	cursor:pointer;
}

.pop span:hover{
	color:#fff;
}


.pop .pop_cover{
	position:absolute;
	width:80%;
	/* height:70%; */
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	/* border:1px solid #fff; */
	z-index:100;
	display:none;
}




.pop .pop_cover video{
	width:100%;
	display:block;
}

















