@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');



*{margin:0;padding:0;border:0;}

ul,li{list-style:none;}

a{text-decoration:none; color:#000;}

.cf:after{
	content:'';
	display:block;
	clear:both;
}

body{
	width:100%;
	max-width:100%;
	overflow-x:hidden;
	text-transform:uppercase;
	font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
}

/*video_area*/

#wrap{
	width:100%;
	height:auto;
}

.video_wrap{
	width:100%;
	height:900px;
	position:relative;
	overflow:hidden;
}

.video_wrap video{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	width:auto;
	min-height:100%;
	height:auto;
	min-width:100%;
}

.video_wrap .black_cover{
	position:absolute;
	left:0;
	top:0;
	background-color:#81d8d0;
	width:100%;
	height:100%;
}

.video_wrap .main_logo{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	width:10%;
	height:auto;
	min-width:70px;
	max-width:150px;
}

.video_wrap .main_logo img{
	width:100%;
	height:auto;
	display:block;
}
.video_wrap .main_logo .animation_logo{
	position:absolute;
	width:100%;
	left:0;
}

.video_wrap .main_logo .animation_logo.motion1{
	bottom:0;
	height:0%;
	overflow:hidden;
	animation:logo 0.7s forwards;
}
.video_wrap .main_logo .animation_logo.motion1 img{
	position:absolute;
	bottom:0;
	left:0;
}

@keyframes logo{
	0%{height:0%;}
	100%{height:100%;}
}
.video_wrap .main_logo .animation_logo.motion2{
	top:0;
	height:0%;
	overflow:hidden;
	animation:logo 0.7s forwards;
	animation-delay:0.6s;
}

.video_wrap .main_logo .animation_logo.motion3{
	top:0;
	transform:scale(0);
	animation:logo_scale 0.6s 1s forwards cubic-bezier(.05, -0.01, .32, 1.82);
	transform-origin:85% 65%;
}

@keyframes logo_scale{
	0%{transform:scale(0);}
	100%{transform:scale(1);}
}

.video_wrap .main_logo .animation_logo.motion4{
	top:0;
	opacity:0;
	animation:logo_fade 1s 2s forwards;
}

@keyframes logo_fade{
	0%{opacity:0;}
	100%{opacity:1;}
}


.video_wrap .scr_btn{
	position:absolute;
	left:50%;
	transform:translateX(-50%) scale(0.7,1.1);
	bottom:50px;
	color:#fff;
	font-size:60px;
	cursor:pointer;
}


.video_wrap .scr_btn i{
	animation:btn_ani 0.6s alternate infinite ease-in;
}

@keyframes btn_ani{
	0%{transform:translateY(-10px);}
	100%{transform:translateY(10px);}
}

header{
	position:absolute;
	width:100%;
	height:130px;
	background-color:#fff;
	left:0;
	top:100%;
	z-index:5;
}

header .logo{
	position:absolute;
	left:5%;
	top:50%;
	transform:translateY(-50%);
	width:120px;
}

header .logo img{
	width:100%;
	display:block;
}

header .gnb{
	position:absolute;
	right:5%;
	top:50%;
	transform:translateY(-50%);

}

header .gnb li{
	float:left;
	margin-left:40px;
	font-size:1.05em;
	position:relative;
}
header .gnb li a{
	display:block;
	padding:5px 0;
}
header .gnb li:after{
	content:'';
	display:block;
	position:absolute;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
	width:0;
	height:1px;
	background-color:#000;
	transition:all .6s;
}
header .gnb li:hover:after{
	width:100%;
}

header .m_menu_btn{
	position:absolute;
	right:5%;
	top:50%;
	transform:translateY(-50%);
	width:30px;
	height:30px;
	cursor:pointer;
	display:none;
}
header .m_menu_btn .bar{
	width:100%;
	height:2px;
	background-color:#000;
	border-radius:1px;
	margin:6px 0;
	transition:all .4s;
}
header .m_menu_btn.on .bar.bar1{
	transform:translateY(8px) rotate(45deg);
}
header .m_menu_btn.on .bar.bar2{
	opacity:0;
}
header .m_menu_btn.on .bar.bar3{
	transform:translateY(-8px) rotate(-45deg);
}

#fake_header{
	width:100%;
	height:130px;
	visibility:hidden;
}

section{
	width:100%;
	height:auto;
}


section .main_thumbnail{
	width:50%;
	width:-webkit-calc(50% - 1px);
	width:-moz-calc(50% - 1px);
	width:-ms-calc(50% - 1px);
	width:-o-calc(50% - 1px);
	height:auto;
	position:relative;
	float:left;
	margin-top:2px;
	transition:all .6s;
	overflow:hidden;
}
section .main_thumbnail:nth-child(even){
	float:right;
}


section .main_thumbnail a{
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
}
section .main_thumbnail img{
	width:100%;
	display:block;
	transition:all .6s;
}
section .main_thumbnail:hover img{
	transform:scale(1.2);
}

section .main_thumbnail .txt_box{
	display:block;
	position:absolute;
	left:20px;
	top:10px;
	color:#fff;
	transition:all 0.6s;
}
section .main_thumbnail.black_txt .txt_box{
	color:#000;
}

section .main_thumbnail:hover .txt_box{
	opacity:0;
	top:-50px;
}


section .main_thumbnail .txt_box span{
	display:block;
}

section .main_thumbnail .txt_box span.title{
	font-size:2em;
	font-weight:700;
}
section .main_thumbnail .txt_box span.client{
	font-size:1.05em;
	font-weight:400;
}

footer{
	width:100%;
	height:auto;
	padding:130px 0;
	
}
footer .footer_box{
	text-align:center;
}
footer .footer_box img{
	width:100px;
	transition:all .6s;
}
footer .footer_box span{
	display:block;
}
footer .footer_box span.site{
	font-size:1.1em;
	font-weight:500;
}
footer .footer_box span.copy{
	font-size:0.8em;
	font-weight:100;
}

footer .footer_box p.address{
	margin-top:15px;
}

footer .footer_box span.phone{
	font-size:1.1em;
	font-weight:200;
}
footer .footer_box span.mail{
	font-size:1.1em;
	font-weight:200;
	text-transform:lowercase;
}

@media screen and (max-width:800px){
	header, #fake_header{
		height:60px;
	}
	header .logo{
		width:60px;
	}
	
	header .gnb{
		display:none;		
	}
	
	header .m_menu_btn{
		display:block;
	}
	
	section .main_thumbnail{
		width:100%;
		box-sizing:border-box;
		padding:0 2px;
	}
	
	section .main_thumbnail .txt_box span.title{
		font-size:1.5em;
	}
	section .main_thumbnail .txt_box span.client{
		font-size:0.9em;
	}
	
	footer .footer_box img{
		width:80px;
	}
	footer .footer_box span.site{
		font-size:1em;
	}
	footer .footer_box span.copy{
		font-size:0.8em;
	}
	footer .footer_box span.phone{
		font-size:1em;
	}
	footer .footer_box span.mail{
		font-size:0.9em;
	}
	
}


/*mobile_menu*/
#m_menu{
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-color:#fff;
	z-index:9999;
	display:none;
}

#m_menu .mobile_header{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:80px;
}
#m_menu .mobile_header .m_logo{
	position:absolute;
	left:5%;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	width:60px;
}
#m_menu .mobile_header .m_logo img{
	width:100%;
	height:auto;
}
#m_menu .mobile_header .mobile_close_btn{
	position:absolute;
	right:5%;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	width:40px;
	height:40px;
	cursor:pointer;
}
#m_menu .mobile_header .mobile_close_btn .close_bar{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	width:40px;
	height:2px;
	background-color:#000;
	border-radius:1.5px;
}
#m_menu .mobile_header .mobile_close_btn .close_bar.close1{
	transform:translate(-50%,-50%) rotate(45deg);
	-webkit-transform:translate(-50%,-50%) rotate(45deg);
	-moz-transform:translate(-50%,-50%) rotate(45deg);
	-ms-transform:translate(-50%,-50%) rotate(45deg);
	-o-transform:translate(-50%,-50%) rotate(45deg);
}
#m_menu .mobile_header .mobile_close_btn .close_bar.close2{
	transform:translate(-50%,-50%) rotate(-45deg);
	-webkit-transform:translate(-50%,-50%) rotate(-45deg);
	-moz-transform:translate(-50%,-50%) rotate(-45deg);
	-ms-transform:translate(-50%,-50%) rotate(-45deg);
	-o-transform:translate(-50%,-50%) rotate(-45deg);
}

#m_menu .mobile_gnb{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	text-align:center;
}
#m_menu .mobile_gnb li a{
	display:block;
	font-size:1.3em;
	padding:5% 0;
	font-weight:200;
}

#m_menu .mobile_bottom_left{
	position:absolute;
	left:5%;
	bottom:20px;
}
#m_menu .mobile_bottom_right{
	position:absolute;
	right:5%;
	bottom:20px;
}

#m_menu span{
	display:block;
	font-weight:300;
}
#m_menu .mobile_bottom_left span{
	text-align:left;
}
#m_menu .mobile_bottom_right span{
	text-align:right;
}
#m_menu .mobile_bottom_left span.site{
	font-size:0.8em;
	
}
#m_menu .mobile_bottom_left span.copy{
	font-size:0.6em;
}
#m_menu .mobile_bottom_right span.phone{
	font-size:0.8em;
}
#m_menu .mobile_bottom_right span.mail{
	font-size:0.7em;
	text-transform:lowercase;
}	

/*mobile_menu_end*/








